<div class="hr">
  <nav class="navbar">
    <div class="logo_name">
      <span>Performance Management System</span>
    </div>
    <div class="mid">

    </div>
    <div matRipple class="user_profile" [matMenuTriggerFor]="menu" matTooltip="{{user?.firstname}} {{user?.lastname}}">
      <span>{{user?.firstname[0]}}{{user?.lastname[0]}}</span>
    </div>
    <mat-menu #menu="matMenu">
      <button id="bt" mat-menu-item>Profile</button>
      <button id="bt" *ngIf="!!user?.hr_officer" mat-menu-item (click)="switchaccount()">Switch Accounts</button>
      <button id="bt" routerLink="/auth/login" mat-menu-item>Logout</button>
    </mat-menu>
  </nav>

  <div class="sidebar">
    <div class="cont">
      <div matRipple routerLink="dashboard" class="sideLinks">
        <mat-icon class="material-icons-round">widgets</mat-icon> Dashboard
      </div>
      <ul class="collapsible">

        <li>
          <div matRipple class="collapsible-header">
            <!-- <mat-icon fontSet="material-icons-round">
              view_carousel
            </mat-icon> -->
            <mat-icon fontSet="material-icons-outlined">
              badge
            </mat-icon>
            View Employees by Faculty
            <mat-icon fontSet="material-icons-outlined" class="vi">
              expand_more
            </mat-icon>
          </div>
          <div class="collapsible-body">
            <div matRipple *ngFor="let fac of faculty" [routerLink]="['view-all-employees',fac.name]" class="sideLinks">
              <mat-icon fontSet="material-icons-round">
                {{fac.icon}}
              </mat-icon>
              {{fac.name}}
            </div>
          </div>
        </li>

        <li>
          <div matRipple class="collapsible-header">
            <!-- <mat-icon fontSet="material-icons-round">
              view_carousel
            </mat-icon> -->
            <mat-icon fontSet="material-icons-outlined">
              badge
            </mat-icon>
            View Employees by Department
            <mat-icon fontSet="material-icons-outlined" class="vi">
              expand_more
            </mat-icon>
          </div>
          <div class="collapsible-body">
            <div matRipple *ngFor="let fac of department" [routerLink]="['view-all-employees',fac.name]"
              class="sideLinks">
              <mat-icon fontSet="material-icons-round">
                {{fac.icon}}
              </mat-icon>
              {{fac.name}}
            </div>
          </div>
        </li>
      </ul>
    </div>

  </div>

  <div class="content1">
    <router-outlet></router-outlet>
    
    <div class="footer">
      <span><small>&copy; 2022 Namibia Univesrity of Science and Technology - Performance Management System</small></span>
    </div>
  </div>



</div>

<div class="carousel">
  <a class="carousel-item"><span (click)="switchaccount()">Hr Officer</span></a>
  <a class="carousel-item"><span routerLink="/employee">Employee</span></a>
  <a class="carousel-item" id="el1" [ngStyle]="user?.manager===true?{'display':'flex'}:{'display':'none'}"><span
      routerLink="/manager">Manager</span></a>
  <a class="carousel-item" id="el2" [ngStyle]="user?.dvc_vc===true?{'display':'flex'}:{'display':'none'}"><span
      routerLink="/dvc-vc">DVC/VC</span></a>
  <a class="carousel-item" id="el3" [ngStyle]="user?.supervisor===true?{'display':'flex'}:{'display':'none'}"><span
      routerLink="/supervisor">Supervisor</span></a>
</div>