$border-radius:5px;
$red:#D22730;
$blue:#002469;

mat-icon{
  color: white;
}

a{
  cursor: pointer;
}

#bt{
  background: transparent;
}

.navbar{
  padding:9px 2%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  background: $blue;
  box-shadow: none;

  .logo_name{
    font-size: 20px;
    color: white;
    // margin-left: auto;
  }

  .user_profile{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: $red;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
  }
}


.content1{
  width: 77%;
  min-height: 92vh;
  position: relative;
  top: 8vh;
  left: 23%;
  z-index: 0;
  padding: 1%;
  padding-bottom: 0;
}

.sidebar{
  width: 23%;
  height: calc(100vh - 64px);
  position: fixed;
  color: white;
  left: 0;
  top: 64px;
  background: url('../../assets/nustpic4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // overflow-y: scroll;
  .cont{
    padding: 2%;
    padding-top: 7%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgb(0, 37, 105),rgba(0, 37, 105, 0.801));
    .sideLinks{
      width: 100%;
      height: 40px;
      border-radius: $border-radius;
      transition: all .2s ease 0s;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding-left: 3%;
      gap: 10px;
      font-weight: 100;

      &:hover{
        // background: #f0b223d7;
        background: $red;
      }
      // margin: 3% auto;
    }
  }
}

.collapsible{
  box-shadow: 0 0 0 0;
  background: transparent;
  border: none;

  .collapsible-header{
    position: relative;
    margin: 0;
    border: none;
    background: transparent;
    padding: 0 3%;
    gap: 3%;
    font-weight: 100;
    align-items: center;
    height: 40px;
    transition: all .4s ease 0s;
    border-radius: $border-radius;

    .vi{
      position: absolute;
      right: 2%;
      bottom: 20%;
    }

    &:hover{
      background: #f0b223d7;
      mat-icon{
        color: white;
      }
    }
  }
  .collapsible-body{
    padding: 2% 0 2% 0;

    div{
      height: 35px;
    }
  }
}

.carousel{
  background: #002469;
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 60vh;
  transition: all .4s ease-out 0s;
  clip-path: circle(0.8% at 100% 0);

  &.active{
    clip-path: circle(55.8% at 59% 35%);
  }

  a{
    background: #D22730;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    // color: #002469;
    color: white;
  }
}


