$Blue: #1b2c5d;
$Yellow: #fcaf28;
$Red: #da2128;

.employee{
  position: relative;
}

.red{
  background-color: $Red !important;
}

.blue{
  background-color: $Blue !important;
}

.yellow{
  background-color: $Yellow !important;
}

.assign_supervisor{
  position: absolute;
  right: 2%;
  top: 2%;
  z-index: 10;
}

.user-name{
  margin-top: 3%;
  padding: 1% 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow:0 0 10px 2px #8b807577;
  gap: 200px;
  mat-icon,.user-profile{
    font-size: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
  }

  .user-profile{
    width: 4rem;
    height: 4rem;
    font-size: 25px;
    border-radius: 100%;
    background: $Red;
    color: white;
  }
  span{
    width: fit-content;
    font-size: 30px;
  }
}

.assign_sup,.assign_sup1{
  position: fixed;
  top: -100%;
  right: 0;
  transition: .5s;
  width: 77%;
  height: calc(100vh - 60px);
  background: linear-gradient(to left bottom,white 55%,rgba(255, 255, 255, 0.932));
  z-index: 12;
  padding: 3%;
  overflow-y: scroll;
  box-shadow: 0 0 8px 2px #00256983;

  &::-webkit-scrollbar{
    width: 8px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb{
    background: #002469;
    border-radius: 30px;
  }

  .super_list,.super_top{
    padding: 0 1%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    cursor: pointer;
    border-bottom: 1px solid #8b8075;
    & > div{
      width: 32%;
    }
    // margin-bottom: 2%;
  }
  .super_top{
    align-items: center;
    background: #002469;
    color: white;
  }

  .close{
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    padding: 1%;
    color: #f0b323;
    background: #002469;
    cursor: pointer;
    position: absolute;
    bottom: 3%;
    left: 2%;
  }
}

.employee-details{
  margin-top: 3%;
  margin-bottom: 5rem;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr ;
  grid-template-areas: "top top"
                      "left right";
  gap: 4%;

  .profile,.perfomance,.status{
    border-radius: 8px;
    box-shadow: 0 0 12px 1px rgba(54, 54, 54, 0.267);
    padding: 4%;

    h3{
      width: fit-content;

      &::after{
        margin: 2px auto;
        display: block;
        height: 2px;
        content: '';
        width: 100%;
        background: #D22730;
      }
    }
    div{
      margin-bottom: 2%;
    }
  }
  .perfomance > div{
    padding: 4%;
    display: flex;
    align-items: center;
    // height: 50px;
    margin-bottom: 3%;
    cursor: pointer;
    border-radius: 7px;
    box-shadow: 0 0 8px 1px rgba(54, 54, 54, 0.267);
    transition:all .2s ease 0s;
    &:hover{
      transform: scale(1.01);
    }
  }

  .status{
    grid-area: top;

    .graphs{
      display: flex;
      gap: 2%;
      grid-auto-columns: minmax(1fr,auto);
      .pie,.line{
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .pie{
        width: 30%;
      }
      .line{
        width: 65%;
      }
    }
  }
}
