<div class="employee">

  <div class="user-name">
    <div class="user-profile">
      {{employee?.firstname[0]}}{{employee?.lastname[0]}}
    </div>
    <span>{{employee?.firstname}} &nbsp; {{employee?.lastname}}</span>
    <mat-icon matTooltip="job grade" fontSet="material-icons-round" [matBadge]="employee?.job_grade" matBadgeSize="small">donut_large</mat-icon>
    <!-- <div class="grade">
      <img src="../../../assets/layers1.svg" alt="" > 
      <span [matBadge]="employee?.job_grade" matBadgeSize="small"></span>
    </div> -->
  </div>
  <!-- <div class="assign_supervisor">
    <button (click)="hideManager()" *ngIf="!!employee?.supervisor" class="waves-effect waves-light btn-small">Assign Manager</button>
    &nbsp;&nbsp;&nbsp;
    <button (click)="hideAssign()" class="waves-effect waves-light btn-small">Assign Supervisor</button>
  </div> -->
  <div class="employee-details">
    <div class="profile">
      <h3>Employee's Profile</h3>
      <div><span><b>Email :</b> {{employee?.email}}</span></div>
      <div><span><b>Faculty/Department :</b> {{employee?.faculty}}</span></div>
      <div><span><b>Job Grade :</b> {{employee?.job_grade??'Not Available'}}</span></div>
      <div><span><b>Position :</b> {{employee?.position}}</span></div>
      <div><span><b>Probation :</b> {{employee?.probation?'Yes':'No'}}</span></div>
      <div><span><b>Nature of Appointment :</b> {{employee?.nature_of_appointment??'Not Available'}}</span></div>
      <div><span><b>Date of Appointment :</b>
          {{employee?.date_of_appointment?http.time(employee?.date_of_appointment):'Not Available'}}</span></div>
      <div><span><b>Supervisor Email :</b> {{employee?.supervisor_name??'Not Available'}}</span></div>
      <div *ngIf="!!employee?.supervisor"><span><b>Manager Email :</b> {{employee?.manager_name??'Not
          Available'}}</span></div>
      <div>
        <span><b>Is Supervisor? :</b> {{employee?.supervisor?'Yes':'No'}}</span>
        <p>
          <label>
            <input name="group1" [(ngModel)]="soption" type="radio" value="true"
              (change)="changeEmployee({supervisor:true})" />
            <span>Yes</span>
          </label>
          <label>
            <input name="group1" [(ngModel)]="soption" type="radio" value="false"
              (change)="changeEmployee({supervisor:false})" />
            <span>No</span>
          </label>
        </p>
      </div>
      <div>
        <span><b>Is HR Officer? :</b> {{employee?.hr_officer?'Yes':'No'}}</span>
        <p>
          <label>
            <input name="group2" [(ngModel)]="hoption" type="radio" value="true"
              (change)="changeEmployee({hr_officer:true})" />
            <span>Yes</span>
          </label>
          <label>
            <input name="group2" [(ngModel)]="hoption" type="radio" value="false"
              (change)="changeEmployee({hr_officer:false})" />
            <span>No</span>
          </label>
        </p>
      </div>

      <div>
        <span><b>Is Manager? :</b> {{employee?.manager?'Yes':'No'}}</span>
        <p>
          <label>
            <input name="group3" [(ngModel)]="moption" type="radio" value="true"
              (change)="changeEmployee({manager:true})" />
            <span>Yes</span>
          </label>
          <label>
            <input name="group3" [(ngModel)]="moption" type="radio" value="false"
              (change)="changeEmployee({manager:false})" />
            <span>No</span>
          </label>
        </p>
      </div>

      <div>
        <span><b>Is DVC/VC? :</b> {{employee?.dvc_vc?'Yes':'No'}}</span>
        <p>
          <label>
            <input name="group4" [(ngModel)]="doption" type="radio" value="true"
              (change)="changeEmployee({dvc_vc:true})" />
            <span>Yes</span>
          </label>
          <label>
            <input name="group4" [(ngModel)]="doption" type="radio" value="false"
              (change)="changeEmployee({dvc_vc:false})" />
            <span>No</span>
          </label>
        </p>
      </div>
    </div>

    <div class="perfomance">
      <h3>Employee's Perfomance Records</h3>
      <div class="ep" *ngFor="let perf of employee?.employee_record;trackBy:PtrackBy"
        (click)="openAllRecordDialog(perf)">
        <span>{{perf.period}}</span>
      </div>
    </div>

    <div class="status">
      <h3>Employee Status</h3>
      <div class="graphs">
        <div class="pie">
          <canvas id="pie"></canvas>
        </div>
        <div class="line">
          <canvas id="line"></canvas>
        </div>
      </div>
      <h3><span *ngIf="totals?.totalscore>=1">Total Score: {{totals?.totalscore?.toFixed(0)}} %</span> <span>
          {{cal.showComment(totals?.totalscore?.toFixed(0))}}</span></h3>
    </div>
  </div>

  <div class="assign_sup" [ngStyle]="showAssign?{'top':'60px'}:{'top':'-100%'}">
    <h3>
      Search Supervisor
    </h3>
    <h5>Search by surname or first name or email</h5>
    <input type="text" [(ngModel)]="searchinput" (keyup)="search()" placeholder="search supervisor by name or email">
    <div class="super_top">
      <div>First Name</div>
      <div>Surname</div>
      <div>Email</div>
    </div>
    <div class="super_list" *ngFor="let su of supervisors;trackBy:StrackBy"
      (click)="changeEmployee({supervisor_name:su.email})">
      <div>{{su.firstname}}</div>
      <div>{{su.lastname}}</div>
      <div>{{su.email}}</div>
    </div>

    <div class="close" matRipple (click)="showSupervisor()">
      <mat-icon>close</mat-icon>
    </div>
  </div>

  <div class="assign_sup1" [ngStyle]="showManager?{'top':'60px'}:{'top':'-100%'}">
    <h3>
      Search Manager
    </h3>
    <h5>Search by surname or first name or email</h5>

    <input type="text" [(ngModel)]="searchmanagerinput" (keyup)="searchManager()"
      placeholder="search supervisor by name or email">
    <div class="super_top">
      <div>First Name</div>
      <div>Surname</div>
      <div>Email</div>
    </div>
    <div class="super_list" *ngFor="let ma of managers;trackBy:MtrackBy"
      (click)="changeEmployee({manager_name:ma.email})">
      <div>{{ma.firstname}}</div>
      <div>{{ma.lastname}}</div>
      <div>{{ma.email}}</div>
    </div>

    <div class="close" matRipple (click)="showManager1()">
      <mat-icon>close</mat-icon>
    </div>
  </div>

  <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">more_vert</i>
    </a>
    <ul>
      <li><a class="btn-floating red" matTooltip="update user information"><i class="material-icons">edit</i></a>
        <!-- <span>update user info</span> -->
      </li>
      <li><button (click)="showManager1()" [disabled]="!employee?.supervisor" class="btn-floating yellow darken-1"
          matTooltip="assign manager"><i class="material-icons">person_add</i></button></li>
      <li><button (click)="showSupervisor()" class="btn-floating blue" matTooltip="assign supervisor"><i
            class="material-icons">person_add_alt</i></button></li>
      <!-- <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li> -->
    </ul>
  </div>
</div>