<h2>All Departments Statistics</h2>

<div class="graph">
    <canvas id="fline"></canvas>
</div>

<div class="graph">
    <canvas id="dline"></canvas>
</div>

<!-- <h2>Faculties</h2> -->
<!-- 
<div class="all_statistics">
    <div class="department" *ngFor="let all of all_faculties">
        <h5>{{all.faculty}}({{all.abb}})</h5>
        <div class="details">
            <div class="emp">
                <span class="es">Employees</span>
                <span>{{all.number_of_employees}}</span>
            </div>
            <div class="emp">
                <span class="es">Supervisors</span>
                <span>{{all.supervisors}}</span>
            </div>
        </div>
    </div>
</div> -->

<!-- <h2>Departments</h2> -->

<!-- <div class="all_statistics">
    <div class="department" *ngFor="let all of all_departments">
        <h5>{{all.faculty}}({{all.abb}})</h5>
        <div class="details">
            <div class="emp">
                <span class="es">Employees</span>
                <span>{{all.number_of_employees}}</span>
            </div>
            <div class="emp">
                <span class="es">Supervisors</span>
                <span>{{all.supervisors}}</span>
            </div>
        </div>
    </div>
    
</div> -->
