<mat-selection-list #departments [multiple]="false">
    <mat-list-option matRipple *ngFor="let faculty of http.faculty;" (click)="change($event, faculty.name)">
        {{faculty.name}}
    </mat-list-option>
    <mat-list-option matRipple *ngFor="let department of http.department;" (click)="change($event, department.name)">
        {{department.name}}
    </mat-list-option>
</mat-selection-list>