.dialog-act{
    display: flex;
    gap: 4%;
}

.row1{
    margin-left: 2%;
}

mat-form-field{
    width: 100%;
}

.range-input{
    background: red;
    display: flex;
    align-items: center;
}

// #dt{
//     box-shadow:0 0 0 0 !important;
//     border: 0px !important;
// }

.mt{
    position: relative;
    // .cal{
    //     position: absolute;
    //     right: 2%;
    //     top: 2%;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     border-radius: 100%;
    //     // padding: 1%;
    //     cursor: pointer;
    //     width: 35px;
    //     height: 35px;
    // }
}