<h2 mat-dialog-title>+ create performance cycle</h2>
<div class="create-record">
  <form [formGroup]="createRecordForm">
    <div class="row">
      <!-- <div class="input-field col s12">
        <input id="period" list="list" type="text" formControlName="recordPeriod">
        <label for="period"></label>
        <datalist id="list">
          <option value="" disabled selected>Choose your option</option>
          <option value="1st Performance Review Cycle/ Mid Year Review">1st Performance Review Cycle/ Mid Year Review
          </option>
          <option value="2nd Performance Review Cycle/ Annual Review">2nd Performance Review Cycle/ Annual Review
          </option>
        </datalist>
      </div> -->


      <div class="input-field col s12">
        <select formControlName="recordPeriod">
          <option value="" disabled selected>Choose your option</option>
          <option value="1st Cycle">1st Cycle</option>
          <option value="2nd Cycle">2nd Cycle</option>
        </select>
        <label>Choose Performance Cycle</label>
      </div>

      <!-- <div class="close" matRipple>
        <mat-icon>close</mat-icon>
      </div> -->

    </div>

    <div class="row">
      <div class="input-field col s6">
        <input autocomplete="off" id="time-frame" formControlName="startTime" [matDatepicker]="picker" (click)="picker.open()">
        <label class="active" for="time-frame">Start Time</label>
         <mat-datepicker #picker></mat-datepicker>
      </div>

      <div class="input-field col s6">
        <input autocomplete="off"  id="time-frame" formControlName="endTime" [matDatepicker]="picker1" (click)="picker1.open()">
        <label class="active" for="time-frame">End Time</label>
         <mat-datepicker #picker1></mat-datepicker>
      </div>
    </div>

    <div class="row1">
      <label>Do you want to keep same BCs and KPAs </label>
      <p>
        <label>
          <input name="chooseperiod" value="yes" formControlName="chooseperiod" type="radio" />
          <span>Yes</span>
        </label>
      </p>
      <p>
        <label>
          <input name="chooseperiod" value="no" formControlName="chooseperiod" type="radio" />
          <span>No</span>
        </label>
      </p>
    </div>
  </form>
</div>
<div class="dialog-act" mat-dialog-actions>
  <button [disabled]="createRecordForm.invalid" class="waves-effect waves-light btn" (click)="addRecord()"
    matTooltip="create performance cycle">Add Record</button>
  <button mat-dialog-close matTooltip="close" class="waves-effect waves-light btn">Close</button>
</div>