$border-radius:5px;
$blue:#002469;
$red:#D22730;
mat-icon{
  // color: #f0b323;
  color: white;
}

.right{
  display: flex;
  gap: 20%;
  align-items: center;
  width: fit-content;
}

a{
  cursor: pointer;
}

#bt{
  background: transparent;
}

.meetings{
  position: relative;
  padding: 2%;
  transition: all .4s ease 0s;
  border-bottom: 1px solid #66666842;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // margin-bottom: 1%;
  span:nth-child(1){
    font-size: 12px;
  }
  span:nth-child(2){
    font-size: 10px;
  }
  &:hover{
    background: $blue;
    border-radius: 3px;
    border: none;
    color: white;
    cursor: pointer;
  }

  .dot{
    border-radius: 100%;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 20%;
    right: 2%;
    }
}

.navbar{
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding:9px 2%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  background: $blue;
  box-shadow: none;

  .logo_name{
    font-size: 20px;
    color: white;
    // margin-left: auto;
  }

  .right{
    // border: 2px solid red;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15%;

    .notis{
      display: flex;
      align-items: center;
      padding: 3%;
      border-radius: 100%;
      cursor: pointer;
      overflow: visible;
      // background: #D22730;
    }

    .user_profile{
      width: 35px;
      height: 35px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: $red;
      color: white;
      cursor: pointer;
      text-transform: uppercase;
    }
  }
}

.content1{
  width: 77%;
  min-height: 92vh;
  position: relative;
  top: 8vh;
  left: 23%;
  z-index: 0;
  padding: 1%;
  padding-bottom: 0%;
}

.sidebar{
  width: 23%;
  height: calc(100vh - 64px);
  position: fixed;
  color: white;
  left: 0;
  top: 64px;
  background: url('../../assets/nustpic2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .cont{
    padding: 2%;
    padding-top: 5%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgb(0, 37, 105),rgba(0, 37, 105, 0.507));
    .sideLinks{
      width: 100%;
      height: 40px;
      border-radius: $border-radius;
      transition: all .2s ease 0s;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding-left: 3%;
      gap: 10px;
      font-weight: 100;
      // background: #8b8075cc;

      &:hover{
          background: #f0b223d7;
          mat-icon{
            color: white;
          }
      }
    }
  }
}

.carousel{
  background: #002469;
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 60vh;
  transition: all .4s ease-out 0s;
  clip-path: circle(0.8% at 100% 0);

  &.active{
    clip-path: circle(55.8% at 59% 35%);
  }

  a{
    background: #D22730;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    // color: #002469;
    color: white;
  }
}



