<nav class="navbar">
  <div class="logo_name">
    <span>Performance Management System</span>
  </div>
  <div class="mid"></div>

  <div class="right">
    <div class="notis" matRipple [matMenuTriggerFor]="menu1">
      <mat-icon *ngIf="count===0" fontSet="material-icons-round">
        notifications
      </mat-icon>
      <mat-icon matBadge="{{count}}" matBadgeSize="small" matBadgeOverlap="true" matBadgePosition="after"
        *ngIf="count>0" fontSet="material-icons-round">
        notifications
      </mat-icon>
    </div>

    <div matRipple class="user_profile" [matMenuTriggerFor]="menu" matTooltip="{{user?.firstname}} {{user?.lastname}}">
      <span>{{user?.firstname[0]}}{{user?.lastname[0]}}</span>
    </div>
  </div>

  <mat-menu #menu1="matMenu">
    <span mat-menu-item *ngIf="meetings.length==0">no avilable* notification</span>
    <div class="meetings" *ngFor="let met of meetings" (click)="viewNotification(met)">
      <span>{{met.title}}</span>
      <span>{{met.date_time | date:'medium'}}</span>
      <div class="dot" [ngStyle]="!!met.viewed?{'background':'transparent'}:{'background':'#da2128'}"></div>
    </div>
  </mat-menu>

  <mat-menu #menu="matMenu">
    <button id="bt" mat-menu-item>Profile</button>
    <button id="bt" *ngIf="!!user?.hr_officer || !!user?.supervisor || !!user?.manager ||  !!user?.dvc_vc" mat-menu-item
      (click)="switchaccount()">Switch Accounts</button>
    <button id="bt" routerLink="/auth/login" mat-menu-item>Logout</button>
  </mat-menu>
</nav>
<nav class="sidebar">
  <div class="cont">
    <div routerLink="dashboard" class="sideLinks">
      <mat-icon fontSet="material-icons-round">
        <!-- grid_view -->
        <!-- space_dashboard -->
        dashboard_customize
      </mat-icon> Dashboard
    </div>
    <div routerLink="bc" class="sideLinks">
      <mat-icon fontSet="material-icons-round">psychology</mat-icon>Behavioural Competencies (BC)
    </div>
    <div routerLink="kpa" class="sideLinks">
      <mat-icon fontSet="material-icons-round">
        <!-- keyboard_double_arrow_right -->
        tag
      </mat-icon>Key Performance Areas (KPAs)
    </div>
    <div routerLink="pdp" class="sideLinks">
      <mat-icon fontSet="material-icons-round">
        <!-- self_improvement -->
        settings_accessibility
      </mat-icon>Personal Development Plan (PDP)
    </div>
  </div>
</nav>
<div class="content1">
  <router-outlet></router-outlet>
  <div class="footer">
    <span><small>&copy; 2022 Namibia Univesrity of Science and Technology - Performance Management System</small></span>
  </div>
</div>

<div class="carousel">
  <a class="carousel-item"><span (click)="switchaccount()">Employee</span></a>
  <a class="carousel-item" id="el1" [ngStyle]="user?.manager===true?{'display':'flex'}:{'display':'none'}"><span
      routerLink="/manager">Manager</span></a>
  <a class="carousel-item" id="el2" [ngStyle]="user?.dvc_vc===true?{'display':'flex'}:{'display':'none'}"><span
      routerLink="/dvc-vc">DVC/VC</span></a>
  <a class="carousel-item" id="el3" [ngStyle]="user?.supervisor===true?{'display':'flex'}:{'display':'none'}"><span
      routerLink="/supervisor">Supervisor</span></a>
  <a class="carousel-item" id="el4" [ngStyle]="user?.hr_officer===true?{'display':'flex'}:{'display':'none'}"><span
      routerLink="/hr-department">Hr Officer</span></a>
</div>