<div class="view-employee">
    <div class="content">
        <div class="top">
            <div class="user">
                <div class="user-profile">
                    <mat-icon class="icon" fontSet="material-icons-round">
                        person
                    </mat-icon>
                </div>
                <div class="user-name">
                    <h2>{{user?.firstname}} {{user?.lastname}} - {{data?.period}}</h2>
                </div>
            </div>
            <div class="totalScore">
                <div class="score">
                    <h3>Total Score</h3>
                    <div class="sc">
                        {{this.calc.calculateFinalScore(this.data).totalscore?.toFixed(0)}}%
                    </div>
                </div>
                <div class="comment">
                    <div class="comment-top">
                        <h3>Expectations</h3>
                    </div>
                    <div class="comm">
                        <div
                            [ngStyle]="calc.showComment(totals?.totalscore?.toFixed(0))==='Outstanding'?{'font-size': '12px', 'color': 'black'}:{}">
                            <mat-icon *ngIf="calc.showComment(totals?.totalscore?.toFixed(0))==='Outstanding'"
                                fontSet="material-icons-round">
                                task_alt
                            </mat-icon>
                            Outstanding
                        </div>
                        <div
                            [ngStyle]="calc.showComment(totals?.totalscore?.toFixed(0))==='Exceeds Expectations'?{'font-size': '12px', 'color': 'black'}:{}">
                            <mat-icon *ngIf="calc.showComment(totals?.totalscore?.toFixed(0))==='Exceeds Expectations'"
                                fontSet="material-icons-round">
                                task_alt
                            </mat-icon>
                            <span>Exceeds Expectations</span>
                        </div>
                        <div
                            [ngStyle]="calc.showComment(totals?.totalscore?.toFixed(0))==='Meets Expectations'?{'font-size': '12px', 'color': 'black'}:{}">
                            <mat-icon *ngIf="calc.showComment(totals?.totalscore?.toFixed(0))==='Meets Expectations'"
                                fontSet="material-icons-round">
                                task_alt
                            </mat-icon>
                            Meets Expectations
                        </div>
                        <div
                            [ngStyle]="calc.showComment(totals?.totalscore?.toFixed(0))==='Requires Further Development'?{'font-size': '12px', 'color': 'black'}:{}">
                            <mat-icon
                                *ngIf="calc.showComment(totals?.totalscore?.toFixed(0))==='Requires Further Development'"
                                fontSet="material-icons-round">
                                task_alt
                            </mat-icon>
                            Requires Further Development
                        </div>
                        <div
                            [ngStyle]="calc.showComment(totals?.totalscore?.toFixed(0))==='Performance is Unacceptable'?{'font-size': '12px', 'color': 'black'}:{}">
                            <mat-icon
                                *ngIf="calc.showComment(totals?.totalscore?.toFixed(0))==='Performance is Unacceptable'"
                                fontSet="material-icons-round">
                                task_alt
                            </mat-icon>
                            Performance is Unacceptable
                        </div>
                        <div
                            [ngStyle]="calc.showComment(totals?.totalscore?.toFixed(0))==='Competency Not Assessed'?{'font-size': '12px', 'color': 'black'}:{}">
                            <mat-icon
                                *ngIf="calc.showComment(totals?.totalscore?.toFixed(0))==='Competency Not Assessed'"
                                fontSet="material-icons-round">
                                task_alt
                            </mat-icon>
                            Competency Not Assessed
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="activities">
            <h3>Behavioural Competencies for Behavioral Performance</h3>
            <table mat-table [dataSource]="data?.bc" class="mat-elevation-z3" fixedLayout="true">
                <!-- BC  -->
                <ng-container matColumnDef="behaviour_competencies">
                    <th mat-header-cell *matHeaderCellDef> BEHAVIOURAL COMPETENCIES</th>
                    <td mat-cell *matCellDef="let element"> {{element.behaviour_competencies}} </td>
                </ng-container>

                <!-- Key_indicators -->
                <ng-container matColumnDef="key_indicators">
                    <th mat-header-cell *matHeaderCellDef class="table-text"> KEY PERFORMANCE INDICATORS </th>
                    <td mat-cell *matCellDef="let element" class="table-text"> {{element.key_indicators}} </td>
                </ng-container>

                <!-- Seft Rating -->
                <ng-container matColumnDef="self_rating">
                    <th mat-header-cell *matHeaderCellDef class="rating"> Incumbent Self-Appraisal Rating </th>
                    <td mat-cell *matCellDef="let element" class="rating"> {{element.self_rating}} </td>
                </ng-container>

                <!-- Supervisor_rating -->
                <ng-container matColumnDef="supervisor_rating">
                    <th mat-header-cell *matHeaderCellDef class="rating"> Supervisor Rating </th>
                    <td mat-cell *matCellDef="let element" class="rating"> {{element.supervisor_rating}} </td>
                </ng-container>

                <!-- Comments -->
                <ng-container matColumnDef="comments">
                    <th mat-header-cell *matHeaderCellDef class="table-text"> Comments </th>
                    <td mat-cell *matCellDef="let element" class="table-text"> {{element.comments}} </td>
                </ng-container>

                <!-- bc_weight column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef class="rating"> BC Weight out of 100 </th>
                    <td mat-cell *matCellDef="let element" class="rating"> {{element.weight}} </td>
                </ng-container>

                <!-- Final score column -->
                <ng-container matColumnDef="final_score">
                    <th mat-header-cell *matHeaderCellDef class="rating"> Final Score </th>
                    <td mat-cell *matCellDef="let element" class="rating">
                        {{calc.calculateScore(element,0.30).toFixed(2)}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="bcdisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: bcdisplayedColumns;"></tr>
            </table>
        </div>

        <div class="activities">
            <h3>Key Performance Areas (KPAs) for Task Performance</h3>
            <table mat-table [dataSource]="data?.kpa" class="mat-elevation-z3" fixedLayout="true">

                <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

                <!-- BC  -->
                <ng-container matColumnDef="key_performance_areas">
                    <th mat-header-cell *matHeaderCellDef> KEY PERFORMANCE AREAS </th>
                    <td mat-cell *matCellDef="let element"> {{element.key_performance_areas}} </td>
                </ng-container>

                <!-- Key_indicators -->
                <ng-container matColumnDef="key_indicators">
                    <th mat-header-cell *matHeaderCellDef class="table-text"> KEY PERFORMANCE INDICATORS </th>
                    <td mat-cell *matCellDef="let element" class="table-text"> {{element.key_indicators}} </td>
                </ng-container>

                <!-- Seft Rating -->
                <ng-container matColumnDef="self_rating">
                    <th mat-header-cell *matHeaderCellDef class="rating"> Incumbent Self-Appraisal Rating </th>
                    <td mat-cell *matCellDef="let element" class="rating"> {{element.self_rating}} </td>
                </ng-container>

                <!-- Supervisor_rating -->
                <ng-container matColumnDef="supervisor_rating">
                    <th mat-header-cell *matHeaderCellDef class="rating"> Supervisor Rating </th>
                    <td mat-cell *matCellDef="let element" class="rating"> {{element.supervisor_rating}} </td>
                </ng-container>

                <!-- Comments -->
                <ng-container matColumnDef="comments">
                    <th mat-header-cell *matHeaderCellDef class="table-text"> Comments </th>
                    <td mat-cell *matCellDef="let element" class="table-text"> {{element.comments}} </td>
                </ng-container>

                <!-- bc_weight column -->
                <ng-container matColumnDef="weight">
                    <th mat-header-cell *matHeaderCellDef class="rating"> KPA Weight out of 100 </th>
                    <td mat-cell *matCellDef="let element" class="rating"> {{element.weight}} </td>
                </ng-container>

                <!-- Final score column -->
                <ng-container matColumnDef="final_score">
                    <th mat-header-cell *matHeaderCellDef class="rating"> Final Score </th>
                    <td mat-cell *matCellDef="let element" class="rating">
                        {{calc.calculateScore(element,0.70).toFixed(2)}} </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="kpadisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: kpadisplayedColumns;"></tr>
            </table>
        </div>

        <div class="activities" *ngIf="data?.pdp[0]">
            <h3>PERSONAL DEVELOPMENT PLAN (PDP)</h3>
            <table mat-table [dataSource]="data?.pdp" class="mat-elevation-z3" fixedLayout="true">

                <!--- Note that these columns can be defined in any order.
                        The actual rendered columns are set as a property on the row definition" -->

                <!-- BC  -->
                <ng-container matColumnDef="performance_gap">
                    <th mat-header-cell *matHeaderCellDef> Performance Gap/ Need Identified </th>
                    <td mat-cell *matCellDef="let element"> {{element.performance_gap}} </td>
                </ng-container>

                <!-- Key_indicators -->
                <ng-container matColumnDef="intervation_required">
                    <th mat-header-cell *matHeaderCellDef> Intervention required </th>
                    <td mat-cell *matCellDef="let element"> {{element.intervation_required}} </td>
                </ng-container>

                <!-- Seft Rating -->
                <ng-container matColumnDef="time_frame">
                    <th mat-header-cell *matHeaderCellDef> Timeframe </th>
                    <td mat-cell *matCellDef="let element"> {{element.time_frame}} </td>
                </ng-container>

                <!-- Supervisor_rating -->
                <ng-container matColumnDef="Indicator_for_DGA">
                    <th mat-header-cell *matHeaderCellDef class="table-text"> Indicator for developmental goal
                        achievement</th>
                    <td mat-cell *matCellDef="let element" class="table-text"> {{element.Indicator_for_DGA}} </td>
                </ng-container>

                <!-- Comments -->
                <ng-container matColumnDef="supervisor_comments">
                    <th mat-header-cell *matHeaderCellDef class="table-text"> Comments by Supervisor </th>
                    <td mat-cell *matCellDef="let element" class="table-text"> {{element.supervisor_comments}}</td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="pdpdisplayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: pdpdisplayedColumns;"></tr>
            </table>

        </div>

        <div class="activities">
            <h3>Commentary following Performance Planning and Contracting exercise</h3>
            <h4>
                <strong>Supervisor's Comments</strong>
            </h4>
            <p>
                {{data?.ppc?.supervisor_comments??"Not Available"}}
            </p>
            <h4>
                <strong>Employee's Comments</strong>
            </h4>
            <p>
                {{data?.ppc?.employee_comments??"Not Available"}}
            </p>
        </div>

        <div class="activities">
            <h3>Commentary Following Performance Review Exercise </h3>

            <h4>
                <strong>Major accomplishments</strong>
            </h4>

            <div class="chip" *ngFor="let pa of data?.pre?.major_accomplishments">
                {{pa??"Not Available"}}
            </div>

            <h4>
                <strong>Key areas that require further development</strong>
            </h4>
            <p>
                {{data?.pre?.key_areas_needed??"Not Available"}}
            </p>

            <h4>
                <strong>Employee's Comments</strong>
            </h4>
            <p>
                {{data?.pre?.employee_comments??"Not Available"}}
            </p>

            <h4>
                <strong>Supervisor's Comments</strong>
            </h4>
            <p>
                {{data?.pre?.supervisor_comments??"Not Available"}}
            </p>

            <h4>
                <strong>Reviewing Manager's Comments</strong>
            </h4>
            <p>
                {{data?.pre?.manager_comments??"Not Available"}}
            </p>

            <h4>
                <strong>Line DVC/VC Comments</strong>
            </h4>
            <p>
                {{data?.pre?.dvc_comments??"Not Available"}}
            </p>

            <div class="agreement" *ngIf="!data?.pre?.dvc_comments">
                <h3>Comments</h3>

                <form #com="ngForm" (ngSubmit)="comments(com)" class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea id="des" class="materialize-textarea" name="des" ngModel #des="ngModel"
                                required></textarea>
                            <label for="des">DVC/VC Comments</label>
                        </div>
                    </div>
                    <button [disabled]="com.invalid" id="but" class="btn waves-effect waves-light btn-small"
                        type="submit" name="action">
                        Submit
                    </button>
                </form>
            </div>

        </div>
    </div>
</div>