$red: #d22730;
.content {
    .activities {
        margin-bottom: 30px;
    }
}

.view-employee {
    border-radius: 8px;
    padding: 2%;
    box-shadow: 0 0 8px 1px rgba(128, 128, 128, 0.562);
}

.row {
    margin-bottom: 0;
}

h3 {
    width: fit-content;
    &::after {
        margin: 2px auto;
        display: block;
        height: 2px;
        content: "";
        width: 100%;
        background: $red;
    }
}

.btn-small {
    background: $red;
}
.top {
    width: 100%;
    display: flex;
}
.user {
    width: 50%;
    padding: 3% 1%;

    .icon {
        font-size: 100px;
    }
}

.totalScore {
    width: 50%;
    display: flex;
    gap: 6%;
    height: fit-content;
    justify-content: flex-end;
    // align-items: center;

    .score {
        display: flex;
        align-items: center;
        flex-direction: column;
        .sc {
            width: 100px;
            height: 100px;
            // padding: 2%;
            font-size: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .comment {
        .comment-top {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .comm {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            div {
                font-size: 10px;
                color: grey;
                display: flex;
                align-items: center;
                gap: 2px;
            }
        }
    }
}
