<div class="emp">
  <div class="top">
    <div class="profile">
      <span>{{em_data?.firstname[0]}}{{em_data?.lastname[0]}}</span>
    </div>
    <div class="username">
      <span>{{em_data?.firstname}} {{em_data?.lastname}}</span>
      <h5>{{em_data?.email}}</h5>
    </div>

    <div class="job_grade">
      <div class="job_des">
       <h5>Position: {{em_data?.position}}</h5>
      </div>
      <div class="grade">
        <span>Job Grade</span>
        <div class="grade-in">
          {{em_data?.job_grade??'0'}}
        </div>
      </div>
    </div>
  </div>

  <div class="bottom">
    <div class="create_pef">
      <div class="employee_rec" *ngFor="let rec of em_data?.employee_record" (click)="assignCurrentPeriod(rec)"
      [ngStyle]="rec.period==currentPeriod.period?{'background':'#D22730','color':'white'}:{'background':'#f0b323','color':'#002469'}">
          <span>{{rec.period}}</span>
          <div class="delete-c" matRipple matTooltip="delete this performance cycle" (click)="deletePC(rec.period)">
            <mat-icon fontSet="material-icons-round">delete_outline</mat-icon>
          </div>

      </div>

      <div matTooltip="Click To Create Employee Record" class="employee_rec" (click)="addRecord()">
          <mat-icon class="material-icons-round">add_circle</mat-icon>
      </div>
    </div>

    <mat-tab-group mat-align-tabs="center">
      <mat-tab label="Behavioural Competencies for Behavioral Performance">

        <div class="table">
          <table mat-table [dataSource]="bcdataSource" [trackBy]="BtrackBy" class="mat-elevation-z1"
          fixedLayout="true">
            <!-- BC  -->
            <ng-container matColumnDef="behaviour_competencies">
              <th mat-header-cell *matHeaderCellDef> BEHAVIOURAL COMPETENCIES</th>
              <td mat-cell *matCellDef="let element"> {{element.behaviour_competencies}} </td>
            </ng-container>

            <!-- Key_indicators -->
            <ng-container matColumnDef="key_indicators">
              <th mat-header-cell *matHeaderCellDef class="table-text"> KEY PERFORMANCE INDICATORS </th>
              <td mat-cell *matCellDef="let element" class="table-text"> {{element.key_indicators}} </td>
            </ng-container>

            <!-- Seft Rating -->
            <ng-container matColumnDef="self_rating">
              <th mat-header-cell *matHeaderCellDef class="rating"> Incumbent Self-Appraisal Rating </th>
              <td mat-cell *matCellDef="let element" class="rating"> {{element.self_rating}} </td>
            </ng-container>

            <!-- Supervisor_rating -->
            <ng-container matColumnDef="supervisor_rating">
              <th mat-header-cell *matHeaderCellDef class="rating"> Supervisor Rating </th>
              <td mat-cell *matCellDef="let element" class="rating"> {{element.supervisor_rating}} </td>
            </ng-container>

            <!-- Comments -->
            <ng-container matColumnDef="comments">
              <th mat-header-cell *matHeaderCellDef class="table-text"> Comments </th>
              <td mat-cell class="table-text" *matCellDef="let element">
                {{element.comments}}
              </td>
            </ng-container>

          <!-- bc_weight column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef class="rating"> BC Weight out of 100 </th>
              <td mat-cell *matCellDef="let element" class="rating"> {{element.weight}} </td>
            </ng-container>

            <!-- Final score column -->
            <ng-container matColumnDef="final_score">
              <th mat-header-cell *matHeaderCellDef class="rating"> Final Score </th>
              <td mat-cell *matCellDef="let element" class="rating"> {{calc.calculateScore(element,0.30).toFixed(2)}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="bcdisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: bcdisplayedColumns;" (click)="updateEmployee(row,'bc')"></tr>
          </table>
        </div>

        <div class="add_new_bc">
          <button (click)="add_BC_KPA({},'bc')" *ngIf="!!currentPeriod && currentPeriod?.performance_contracting_status==='not-done'" class="waves-effect waves-light btn-small">Add Behavioural Competencies</button>
          <button (click)="completeContracting()" *ngIf="!!currentPeriod && currentPeriod?.performance_contracting_status==='not-done'" class="waves-effect waves-light btn-small">Complete contracting</button>
          <!-- <div class="add_form" *ngIf="!!hideperf">
            <form #bc="ngForm" (ngSubmit)="submitBC(bc)" class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input id="bc" name="bca" ngModel #bca="ngModel" type="text" required>
                  <label for="bc">BEHAVIOURAL COMPETENCIES</label>
                </div>
                <div class="input-field col s6">
                  <textarea id="kpi" class="materialize-textarea" name="kpi" ngModel #kpi="ngModel" required></textarea>
                  <label for="kpi">KEY PERFORMANCE INDICATORS</label>
                </div>
              </div>

              <button type="submit" [disabled]="bc.invalid" class="waves-effect waves-light btn-small">Save</button>
              <button (click)="hidePerformance()" class="waves-effect waves-light btn-small">Close</button>
            </form>
          </div> -->
        </div>
      </mat-tab>

      <mat-tab label="Key Performance Areas (KPAs) for Task Performance">

      <div class="table">
        <table mat-table [dataSource]="kpadataSource" [trackBy]="KtrackBy" class="mat-elevation-z1"
        fixedLayout="true">
          <!-- BC  -->
          <ng-container matColumnDef="key_performance_areas">
            <th mat-header-cell *matHeaderCellDef> KEY PERFORMANCE AREAS </th>
            <td mat-cell *matCellDef="let element"> {{element.key_performance_areas}} </td>
          </ng-container>

          <!-- Key_indicators -->
          <ng-container matColumnDef="key_indicators">
            <th mat-header-cell *matHeaderCellDef class="table-text"> KEY PERFORMANCE INDICATORS </th>
            <td mat-cell *matCellDef="let element" class="table-text"> {{element.key_indicators}} </td>
          </ng-container>

          <!-- Seft Rating -->
          <ng-container matColumnDef="self_rating">
            <th mat-header-cell *matHeaderCellDef class="rating"> Incumbent Self-Appraisal Rating </th>
            <td mat-cell *matCellDef="let element" class="rating"> {{element.self_rating}} </td>
          </ng-container>

          <!-- Supervisor_rating -->
          <ng-container matColumnDef="supervisor_rating">
            <th mat-header-cell *matHeaderCellDef class="rating"> Supervisor Rating </th>
            <td mat-cell *matCellDef="let element" class="rating"> {{element.supervisor_rating}} </td>
          </ng-container>

          <!-- Comments -->
          <ng-container matColumnDef="comments">
            <th mat-header-cell *matHeaderCellDef class="table-text"> Comments </th>
            <td mat-cell *matCellDef="let element" class="table-text"> {{element.comments}} </td>
          </ng-container>

        <!-- bc_weight column -->
          <ng-container matColumnDef="weight">
            <th mat-header-cell *matHeaderCellDef class="rating"> KPA Weight out of 100 </th>
            <td mat-cell *matCellDef="let element" class="rating"> {{element.weight}} </td>
          </ng-container>

          <!-- Final score column -->
          <ng-container matColumnDef="final_score">
            <th mat-header-cell *matHeaderCellDef class="rating"> Final Score </th>
            <td mat-cell *matCellDef="let element" class="rating"> {{calc.calculateScore(element,0.70).toFixed(2)}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="kpadisplayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: kpadisplayedColumns;" (click)="updateEmployee(row,'kpa')"></tr>
        </table>
      </div>

      <div class="add_new_bc">
        <button (click)="add_BC_KPA({},'kpa')" *ngIf="!!currentPeriod && currentPeriod?.performance_contracting_status==='not-done'" class="waves-effect waves-light btn-small">Add KEY PERFORMANCE AREAS</button>
        <button (click)="completeContracting()" *ngIf="!!currentPeriod && currentPeriod?.performance_contracting_status==='not-done'" class="waves-effect waves-light btn-small">Complete contracting</button>
        <!-- <div class="add_form" *ngIf="!!hideperf">
          <form #bc="ngForm" (ngSubmit)="submitKPA(bc)" class="col s12">
            <div class="row">
              <div class="input-field col s6">
                <input id="bc" name="kpa" ngModel #kpa="ngModel" type="text" class="validate" required>
                <label for="bc">KEY PERFORMANCE AREAS</label>
              </div>
              <div class="input-field col s6">
                <textarea id="kpi" class="materialize-textarea" name="kpi" ngModel #kpi="ngModel" required></textarea>
                <label for="kpi">KEY PERFORMANCE INDICATORS</label>
              </div>
            </div>

            <button type="submit" [disabled]="bc.invalid" class="waves-effect waves-light btn-small">Save</button>
            <button (click)="hidePerformance()" class="waves-effect waves-light btn-small">Close</button>
          </form>
        </div> -->
      </div>

      </mat-tab>
      
      <mat-tab label="Personal Development PLAN (PDP)">
        <div class="table">
          <table mat-table [dataSource]="pdpdataSource" [trackBy]="PtrackBy" class="mat-elevation-z1"
          fixedLayout="true">
            <!-- BC  -->
            <ng-container matColumnDef="performance_gap">
              <th mat-header-cell *matHeaderCellDef>  Performance Gap/ Need Identified </th>
              <td mat-cell *matCellDef="let element"> {{element.performance_gap}} </td>
            </ng-container>

            <!-- Key_indicators -->
            <ng-container matColumnDef="intervation_required">
              <th mat-header-cell *matHeaderCellDef> Intervention required </th>
              <td mat-cell *matCellDef="let element"> {{element.intervation_required}} </td>
            </ng-container>

            <!-- Seft Rating -->
            <ng-container matColumnDef="time_frame">
              <th mat-header-cell *matHeaderCellDef> Timeframe </th>
              <td mat-cell *matCellDef="let element"> {{element.time_frame}} </td>
            </ng-container>

            <!-- Supervisor_rating -->
            <ng-container matColumnDef="Indicator_for_DGA">
              <th mat-header-cell *matHeaderCellDef class="table-text"> Indicator for developmental goal achievement</th>
              <td mat-cell *matCellDef="let element" class="table-text"> {{element.Indicator_for_DGA}} </td>
            </ng-container>

            <!-- Comments -->
            <ng-container matColumnDef="supervisor_comments">
              <th mat-header-cell *matHeaderCellDef class="table-text"> Comments by Supervisor  </th>
              <td mat-cell *matCellDef="let element" class="table-text"> {{element.supervisor_comments}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="pdpdisplayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: pdpdisplayedColumns;" (click)="updatePDPComment(row)"></tr>
          </table>
        </div>
      </mat-tab>
    </mat-tab-group>

    <div class="score">
      <hr style="color: #002469;">
      <h2>Score: {{totalscore??''}} % - {{calc.showComment(totalscore)}}</h2>
    </div>
  </div>
  
  <div class="footer">
    <span><small>&copy; 2022 Namibia Univesrity of Science and Technology - Performance Management System</small></span>
  </div>
</div>

<div class="right-panel">
  <div class="notes" matTooltip="Add Notes" matRipple (click)="hideSidePanel()">
    <!-- <button  class="waves-effect waves-light btn">
    </button> -->
    <mat-icon>notes</mat-icon>
  </div>
  <div class="book-meeting" matTooltip="schedule a meeting" matRipple (click)="bookmeeting()">

    <mat-icon fontSet="material-icons-outlined">bookmark_add</mat-icon>
  </div>
  <div class="book-meeting" matTooltip="Open Calender" matRipple (click)="openCalender()">
    <mat-icon fontSet="material-icons-round">event_note</mat-icon>
  </div>
</div>

<div class="side-panel" [ngStyle]="sidepanel?{'right':'0'}:{'right':'-100%'}">
  <div class="diary-header">
    <h2>Diary</h2>
    <div class="close" matTooltip="click to hide panel" matRipple (click)="hideSidePanel()">
      <mat-icon>close</mat-icon>
    </div>
  </div>
  <hr>
  <div class="notes-list">
    <div class="note-list" *ngFor="let note of currentPeriod?.diary; trackBy:NtrackBy">
        <p class="text" *ngFor="let tx of note?.text?.split('\n')">
          {{tx}}
        </p>
        <div class="date">
          <span>{{time(note.date)}}</span>
        </div>
    </div>
  </div>
  <div class="note-button">

    <textarea [(ngModel)]="notes" placeholder="Type a Note" cols="30" rows="20"></textarea>
    
    <button [disabled]="notes==''" (click)="uploadNotes()" class="waves-effect waves-light btn-small">
      <mat-icon>add</mat-icon> Add Notes
    </button>
  </div>
</div>

<div class="confirm-outer">
    <div class="approval">
    <h3>Commentary following Performance Planning and Contracting exercise</h3>
      
    <form class="col s12" [formGroup]="ppc">
      <div class="row">
        <div class="input-field col s12">
          <textarea formControlName="supervisor_comments" id="textarea1" class="materialize-textarea agree" required></textarea>
          <label for="textarea1" class="active">Enter Comment for the Performance Cycle</label>
        </div>
      </div>
    </form>

    <h3>Commentary Following Performance Review Exercise </h3>
      <!-- <p><label >
        I agree to the to the Key Performance Areas (KPAs) and the corresponding Key Performance Indicators against which I will be evaluated at the end of the review period
      </label>
      </p> -->
      <form class="col s12" [formGroup]="pre">
        <div class="row">
          <div class="input-field col s12">
            <textarea formControlName="supervisor_comments" id="textarea2" class="materialize-textarea agree" required></textarea>
            <label for="textarea2" class="active">Enter Comment for the Performance Cycle</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <!-- <textarea formControlName="major_accomplishments" id="textarea3" class="materialize-textarea" required></textarea> -->
            <label for="textarea3" class="active">Enter Major accomplishments</label>
            <div class="chips chips-placeholder ch">
              <input class="custom-class agree">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <textarea formControlName="key_areas_needed" id="textarea4" class="materialize-textarea agree" required></textarea>
            <label for="textarea4" class="active">Enter Key areas that require further development</label>
          </div>
        </div>

      </form>

      <button style="margin-right: 4%;" [disabled]="pre.invalid || ppc.invalid" class="waves-effect waves-light btn-small" (click)="comment()">
        save
      </button>

      <button class="waves-effect waves-light btn-small" (click)="completeReviewing()">
        complete reviewing and assessment
      </button>

    </div>
</div>

<div class="open-confirm" *ngIf="currentPeriod?.performance_review_status==='not-done'" matRipple matTooltip="Commentary Following Performance Review Exercise" (click)="activate()">
  <mat-icon fontSet="material-icons-outlined">{{!!create?"close":"create"}}</mat-icon>
</div>


