$back: rgba(118, 122, 134, 0.342);
$back1: rgb(118, 122, 134);
$Blue: rgb(27, 44, 93);
$Yellow: rgb(252, 175, 23);
$Red: rgb(218, 33, 40);

.chips {
  color: white !important;
  &.focus {
    // border: none !important;
    border: none !important;
    outline: none !important;
    border-bottom: none !important;
    -webkit-box-shadow: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
  }
}

.agree:focus {
  border-bottom: 1px solid $Yellow !important;
  -webkit-box-shadow: 0 1px 0 0 $Yellow !important;
  box-shadow: 0 1px 0 0 $Yellow !important;
}

.agree:focus + label {
  color: $Yellow !important;
}

.emp {
  width: 96%;
  padding: 3% 1%;
  padding-bottom: 0%;
  .top {
    height: 20vh;
    box-shadow: 0 0 12px 1px $back;
    border-radius: 10px;
    margin-bottom: 3%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .username {
      font-size: 30px;
      font-weight: 100;
      text-transform: capitalize;
      text-align: center;
      h5{
        margin-top: 1rem;
        text-transform: lowercase;
      }
    }

    .profile {
      width: 90px;
      height: 90px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: #d22730;
      color: white;
      text-transform: uppercase;
      font-size: 30px;
    }

    .job_grade {
      display: flex;
      flex-direction: column;
      gap: 2%;
      // span{
      //   display: flex;
      // }

      .grade {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4%;
        .grade-in {
          width: 55px;
          height: 55px;
          // padding: 2%;
          font-size: 25px;
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid $Yellow;
          border-radius: 100%;
        }
      }
    }
  }
  .bottom {
    min-height: 70vh;
    border-radius: 10px;
    padding: 2%;
    box-shadow: 0 0 12px 1px $back;

    .create_pef {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 15px 2%;
      margin-bottom: 3%;

      .employee_rec {
        border-radius: 7px;
        box-shadow: 0 0 12px 1px $back;
        background: $Yellow;
        color: $Red;
        height: 40px;
        display: flex;
        justify-content: center;
        cursor: pointer;
        align-items: center;
        padding: 0 2%;
        transition: all 0.5s;
        position: relative;
        overflow: hidden;
        &:hover {
          transform: scale(1.05);
          & > .delete-c {
            width: 50px;
            clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
          }
        }

        .delete-c {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 0;
          height: 100%;
          background: $Blue;
          color: white;
          position: absolute;
          top: 0;
          right: 0;
          transition: 0.4s;
          transition-property: clip-path, width;
          overflow: hidden;
          // clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 100% 52%, 100% 0);
          clip-path: polygon(74% 0, 100% 0%, 100% 100%, 100% 61%, 100% 0);
        }
      }
    }
  }
}

.create-record {
  transition: 0.5s;
  padding: 1% 2%;
  padding-top: 4%;
  border: $back 3px solid;
}

.close {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 1%;
  color: $Yellow;
  background: #002469;
  cursor: pointer;
  float: right;
}

.row {
  margin-bottom: 0;
}

.confirm-outer {
  position: fixed;
  z-index: 20;
  bottom: 0;
  right: 0;
  min-height: 95vh;
  width: 60%;
  padding: 2%;
  overflow-y: scroll;
  // clip-path: circle(70% at 80% 76%);
  clip-path: polygon(100% 85%, 100% 29%, 100% 100%, 100% 100%, 100% 94%);
  background: #002469;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  transition: all 0.5s ease-in-out 0s;

  h3 {
    width: 100%;
    &::after {
      margin: 1% auto;
      width: 100%;
      height: 2px;
      content: "";
      display: block;
      background: #f0b223;
    }
  }
  &.active {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 8% 50%);
  }
  .approval {
    width: 75%;
    max-width: 75%;
    // border:2px yellow solid;

    form {
      // border:2px red solid;

      textarea,
      textarea::placeholder {
        color: inherit;
      }
    }
    .btn-small {
      background: #f0b223;
      color: black;
    }
  }
}

.open-confirm {
  position: fixed;
  z-index: 50;
  bottom: 2%;
  right: 0.1%;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: $Yellow;
  color: #002469;
  cursor: pointer;

  &:focus {
    box-shadow: 0 0 10px 5px white;
  }
}

::-webkit-scrollbar {
  width: 6px;
  // background: #002469;
}

::-webkit-scrollbar-thumb {
  background: $back1;
  border-radius: 20px;
}
