$back: rgba(118, 122, 134, 0.342);
$back1: rgb(118, 122, 134);

.chips .input {
  color: white !important;
}

.chips.focus {
  border-bottom: #f0b223 1px solid !important;
  box-shadow: 0 0 1px 0 #f0b223 !important;
}
.add_new_bc {
  background: white;
  padding: 3% 2%;
  .add_form {
    margin-top: 1%;
  }

  button {
    margin-right: 2%;
  }
}

.right-panel {
  width: 4%;
  min-width: 50px;
  height: 92vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3%;
  background: #dae7fd3a;
  // align-items: center;
  // background: chartreuse;
  border-left: 1px $back solid;
  position: fixed;
  right: 0;
  top: 8vh;
  z-index: 20;

  .book-meeting,
  .notes {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    transition: 0.5s;
    cursor: pointer;
    padding: 20%;
    width: fit-content;
    height: fit-content;
    color: #002469;

    &:hover {
      background: $back;
    }
  }
}

.side-panel {
  transition: 0.5s;
  width: 25%;
  height: 92vh;
  position: fixed;
  top: 8vh;
  right: -100%;
  border-left: 1px solid $back;
  background-color: rgba(255, 255, 255, 0.685);
  backdrop-filter: blur(15px);
  z-index: 100;
  padding: 1% 0.5%;

  .diary-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .close {
      // position: absolute;
      top: 0%;
      padding: 3%;
      right: 3%;
      background: #f0b223;
      color: #002469;
    }
  }

  .notes-list {
    height: 70%;
    width: 100%;
    overflow-y: scroll;
    padding: 2% 1%;
    border-bottom: 1px solid #002469;

    .note-list {
      margin-bottom: 3%;
      padding: 3%;
      border-radius: 8px;
      box-shadow: 0 0 3px 1px $back;
      color: #002469;
      transition: all 0.3s ease-out;
      .date {
        font-size: 10px;
      }
      &:hover {
        color: white;
        background: #002469;
        transform: scale(1.01);
      }
    }
  }

  .table {
    padding: 0.5%;
  }

  .note-button {
    height: fit-content;
    padding: 2% 1%;
    display: flex;
    // align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2%;

    textarea {
      outline: #002469;
      padding: 2%;
      border: 2px solid #002469;
      border-radius: 6px;
      height: 70px;
    }

    .btn-small {
      margin: 3% auto;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
