<h3 mat-dialog-title>{{data.behaviour_competencies||data.key_performance_areas || data.performance_gap}}</h3>

<div mat-dialog-content class="edit">
    <form class="col s12" [formGroup]="gradingForm">
        <div class="row">
            <div class="input-field col s12">
                <label class="active">Rating</label>
                <select required 
                formControlName="rating">
                    <!-- <option value="" selected disabled>Current Option {{data.supervisor_rating}}</option> -->
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input formControlName="weight" required id="weight" type="number" min="0" max="100" class="validate">
                <label for="weight" class="active">Weight</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <textarea formControlName="comments" id="comment" class="materialize-textarea"></textarea>
                <label for="comment" class="active">Comment</label>
            </div>
        </div>
    </form>
</div>

<div mat-dialog-actions class="action">
    <button [disabled]="gradingForm.invalid" (click)="submitBC()" class="waves-effect waves-light btn-small">save</button>
    <button mat-dialog-close class="waves-effect waves-light btn-small">close</button>
</div>