<h3 mat-dialog-title>{{data.period}}</h3>
<div class="confirm-outer" mat-dialog-content>
    <div class="approval">
    <h3>Commentary following Performance Planning and Contracting exercise</h3>
      
    <form class="col s12" [formGroup]="ppc">
  
      <div class="row">
        <div class="input-field col s12">
          <textarea formControlName="employee_comments" id="textarea1" class="materialize-textarea" required></textarea>
          <label for="textarea1" class="active">Enter Comment for the Performance Planning and Contracting exercise</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <p>
              <label >
                I agree to the to the Key Performance Areas (KPAs) and the corresponding Key Performance Indicators against which I will be evaluated at the end of the review period
              </label>
            </p>
            <select required formControlName="employee_approval">
                <option value="Yes">Yes</option>
                <option value="No">No</option>
            </select>
        </div>
      </div>
  
    </form>
    
    <h3>Commentary Following Performance Review Exercise </h3>
  
      <form class="col s12" [formGroup]="pre">
        <div class="row">
          <div class="input-field col s12">
            <textarea formControlName="employee_comments" id="textarea2" class="materialize-textarea" required></textarea>
            <label for="textarea2" class="active">Enter Comment for the Performance Review</label>
          </div>
        </div>
      </form>  
    </div>
  </div>
  
  <div class="close" mat-dialog-actions>
    <button [disabled]="pre.invalid || ppc.invalid" class="waves-effect waves-light btn-small" (click)="comment()">
        submit
      </button>
    <button mat-dialog-close class="waves-effect waves-light btn-small">close</button>
  </div>