// @import url('~node_modules/materialize-css/dist/css/materialize.min.css');
$border-radius:5px;
mat-icon{
  color: #f0b323;
}

a{
  cursor: pointer;
}

#bt{
  background: transparent;
}

.navbar{
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  padding:8px 2%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  background: #002469;

  .logo_name{
    font-size: 20px;
    color: white;
    // margin-left: auto;
  }

  .user_profile{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D22730;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
  }
}

.content1{
  width: 100%;
  min-height: 92vh;
  position: relative;
  top: 8vh;
  left: 0;
  z-index: 0;
  padding: 1%;
  padding-bottom: 1%;
}

.carousel{
  background: #002469;
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 60vh;
  transition: all .4s ease-out 0s;
  clip-path: circle(0.8% at 100% 0);

  &.active{
    clip-path: circle(55.8% at 59% 35%);
  }

  a{
    background: #D22730;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    // color: #002469;
    color: white;
  }
}


