// @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;600&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;500;600&display=swap");
$grey-color: rgba(54, 54, 54, 0.356);
$red: #d22730;
$yellow: rgb(252, 175, 23);
$border-rad: 10px;

.title,
h2,
h5 {
  width: fit-content;
  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    margin: 2% auto;
    background: $red;
  }
}
.title::after {
  margin: 2rem auto;
  height: 3px;
  width: 80%;
  animation: anim2;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: both;

  @keyframes anim2 {
    0% {
      opacity: 0;
      width: 0;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      width: 80%;
    }
  }
}
h2 {
  margin-left: 2%;
}

.parallax-container {
  .stats {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(
      to right,
      rgb(27, 44, 93),
      rgba(27, 44, 93, 0.911),
      rgba(27, 44, 93, 0.822),
      rgba(27, 44, 93, 0.432)
    );
    color: white;
    span {
      text-transform: uppercase;
      // font-family: 'Oswald', sans-serif;
      font-family: "Raleway", sans-serif;
    }
    .s-title {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 2rem;
      span {
        font-size: 40px;
        font-weight: 600;
      }
    }
    .s-body {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;

      //   height: 50%;
      .users {
        display: flex;
        flex-direction: column;
        animation: anim;
        animation-duration: 1s;
        animation-iteration-count: 1;
        animation-fill-mode: both;
  
        span:nth-child(1) {
          font-size: 12px;
        }
        span:nth-child(2) {
          font-size: 25px;
          font-weight: 500;
        }

        &:nth-child(even) {
          animation: anim1;
          animation-duration: 1s;
          animation-iteration-count: 1;
          animation-fill-mode: both;
        }

        &:nth-child(2) {
          animation-delay: 1s;
        }
        &:nth-child(3) {
          animation-delay: 1.5s;
        }
        &:nth-child(4) {
          animation-delay: 2s;
        }
        &:nth-child(5) {
          animation-delay: 2.5s;
        }

        span{
            transition:All .5s ease-out;
            &:hover{
                cursor: grab;
                transform: scale(1.08);
            }
        }

        transition:All .4s ease-out;
        &:hover{
            cursor: grab;
            transform: scale(1.1);
        }
      }

      @keyframes anim {
        0% {
          opacity: 0;
          transform: translateY(-40px);
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
          transform: translateY(0px);
        }
      }
      @keyframes anim1 {
        0% {
          opacity: 0;
          transform: translateY(40px);
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
          transform: translateY(0px);
        }
      }
    }
  }
}

.top {
  margin-top: 4rem;
  // border: #D22730 2px solid;
  border-radius: $border-rad;
  box-shadow: 0 0 12px 1px $grey-color;
  padding: 2rem 1rem;
  text-transform: uppercase;
  .top-in {
    display: flex;
    gap: 2% 2rem;
    justify-content: center;
  }

  .graph {
    &:nth-child(1) {
      width: 70%;
    }
    &:nth-child(2) {
      width: 30%;
      height: fit-content;

      .info {
        border-left: 2px solid $yellow;
        padding: 1%;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
.bottom{
    margin-top: 3rem;
    height: 15vh;
    background: url('../../../assets/work.svg'), url('../../../assets/work1.svg');
    background-size: 15vh, contain;
    background-position: right 3% bottom, left 3% bottom;
    background-repeat: no-repeat, no-repeat;
}
// .all_statistics {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
//   gap: 6% 2%;
//   padding: 2%;
//   padding-bottom: 8%;

//   .department {
//     padding: 2%;
//     border-radius: 15px;
//     // border: 1px solid $grey-color;
//     box-shadow: 0 0 12px 1px $grey-color;
//     transition: all 0.5s ease 0s;
//     cursor: pointer;
//     &:hover {
//       transform: scale(1.05);
//     }

//     .details {
//       display: flex;
//       justify-content: center;
//       gap: 8%;
//       align-items: center;

//       .emp {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: column;
//         border: 3px solid rgb(0, 37, 105);
//         border-radius: 100%;
//         padding: 3%;
//         width: 90px;
//         height: 90px;

//         span:nth-child(2) {
//           font-size: 30px;
//         }
//       }
//     }
//   }
// }

