<div class="parallax-container">
    <div class="parallax">
        <img src="../../../assets/work2.jpg">
    </div>
    <div class="stats">
        <div class="s-title">
            <img src="../../../assets/users.svg" alt="">
            <span class="title">All Users</span>
        </div>
        <div class="s-body">
            <div class="users">
                <span>employees</span>
                <span>{{stats?.employees??'0'}}</span>
            </div>
            <div class="users">
                <span>supervisors</span>
                <span>{{stats?.supervisors??'0'}}</span>
            </div>
            <div class="users">
                <span>managers</span>
                <span>{{stats?.managers??'0'}}</span>
            </div>
            <div class="users">
                <span>dvc/vc</span>
                <span>{{stats?.dvcs??'0'}}</span>
            </div>
            <div class="users">
                <span>hr officers</span>
                <span>{{stats?.hr_officers??'0'}}</span>
            </div>
        </div>
    </div>
</div>

<div class="top">
    <h2>Faculties</h2>
    <div class="top-in">
        <div class="graph">
            <canvas id="fline"></canvas>
        </div>

        <div class="graph">
            <canvas id="f-pie"></canvas>
            <div class="info">
                <img src="../../../assets/layers.svg" alt="">
                <img src="../../../assets/pie-chart.svg" alt="">
                <div class="abb" *ngFor="let all of all_faculties">
                    <span>
                        {{all?.abb}} : <b>{{all?.number_of_employees}}</b>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="top">
    <h2>Departments</h2>
    <div class="top-in">
        <div class="graph">
            <canvas id="dline"></canvas>
        </div>

        <div class="graph">
            <canvas id="d-pie"></canvas>
            <div class="info">
                <img src="../../../assets/layers.svg" alt="">
                <img src="../../../assets/pie-chart.svg" alt="">
                <div class="abb" *ngFor="let all of all_departments">
                    <span>
                        {{all?.abb}} : <b>{{all?.number_of_employees}}</b>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="bottom"></div>
<!-- <div class="all_statistics">
    <div class="department" *ngFor="let all of all_faculties">
        <h5>{{all.faculty}} ({{all.abb}})</h5>
        <div class="details">
            <div class="emp">
                <span class="es">Employees</span>
                <span>{{all.number_of_employees}}</span>
            </div>
            <div class="emp">
                <span class="es">Supervisors</span>
                <span>{{all.supervisors}}</span>
            </div>
        </div>
    </div>
</div> -->



<!-- <div class="all_statistics">
    <div class="department" *ngFor="let all of all_departments">
        <h5>{{all.faculty}} ({{all.abb}})</h5>
        <div class="details">
            <div class="emp">
                <span class="es">Employees</span>
                <span>{{all.number_of_employees}}</span>
            </div>
            <div class="emp">
                <span class="es">Supervisors</span>
                <span>{{all.supervisors}}</span>
            </div>
        </div>
    </div>

</div> -->