<h2 mat-dialog-title *ngIf="data?.type==='bc'">Add Behaviour Competencies</h2>
<h2 mat-dialog-title *ngIf="data?.type==='kpa'">Add Key Performance Areas</h2>
<h3 mat-dialog-title>{{data?.behaviour_competencies||data?.key_performance_areas}}</h3>
<div class="add_form" mat-dialog-content>
    <form #bc="ngForm" [formGroup]="editForm" class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <input id="bc" name="kpa" formControlName="key" type="text" required>
          <label class="active" for="bc" *ngIf="data?.type==='bc'">BEHAVIOURAL COMPETENCIES</label>
          <label class="active" for="bc" *ngIf="data?.type==='kpa'">KEY PERFORMANCE AREAS</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            <textarea id="kpi" class="materialize-textarea" name="kpi" formControlName="description" required></textarea>
            <label class="active" for="kpi">KEY PERFORMANCE INDICATORS</label>
          </div>
      </div>
    </form>
</div>
<div class="action" mat-dialog-actions>
    <button [disabled]="editForm.invalid" class="waves-effect waves-light btn-small" (click)="save()">Save</button>
    <button *ngIf="!!data?.behaviour_competencies || !!data?.key_performance_areas" class="waves-effect waves-light btn-small" (click)="delete()">delete</button>
    <button mat-dialog-close class="waves-effect waves-light btn-small">Close</button>
</div>
