<header class="nav">
    <span id="inst">Instructions</span>
</header>

<div class="content">
    <div class="left">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">
                    <a routerLink="." [fragment]="'employee'">Employee</a>
                </div>
                <div class="collapsible-body">
            <li><a routerLink="." [fragment]="'employee-dasboard'">Dashboard</a></li>
            <li><a routerLink="." [fragment]="'employee-bc'">Behaviour Competencies</a></li>
            <li><a routerLink="." [fragment]="'employee-kpa'">Key Performance Areas</a></li>
            <li><a routerLink="." [fragment]="'employee-pdp'">Personal Development Plan</a></li>
    </div>
    </li>
    <li>
        <div class="collapsible-header">
            <a routerLink="." [fragment]="'supervisor'">Supervisor</a>
        </div>
        <div class="collapsible-body">
    <li><a routerLink="." [fragment]="'supervisor-home'">Home</a></li>
    <li><a routerLink="." [fragment]="'supervisor-view-employee'">View Employee</a></li>
    <li><a routerLink="." [fragment]="'supervisor-add-record'">Add Record/Create a Cycle</a></li>
    <li><a routerLink="." [fragment]="'supervisor-delete-record'">Delete Record/Remove a Cycle</a></li>
    <li><a routerLink="." [fragment]="'supervisor-add-bc'">Add Behaviour Competencies</a></li>
    <li><a routerLink="." [fragment]="'supervisor-add-kpa'">Add Key Performance Areas</a></li>
    <li><a routerLink="." [fragment]="'supervisor-comment-kpa'">Comment Personal Development</a></li>
    <li><a routerLink="." [fragment]="'supervisor-rate-employee'">Rate Employee</a></li>
    <li><a routerLink="." [fragment]="'supervisor-book-meeting'">Book Meeting</a></li>
    <li><a routerLink="." [fragment]="'supervisor-diary'">Diary</a></li>
    <li><a routerLink="." [fragment]="'supervisor-calender'">Calender</a></li>
    <li><a routerLink="." [fragment]="'supervisor-comment'">Comment</a></li>
</div>
</li>
<li>
    <div class="collapsible-header">
        <a routerLink="." [fragment]="'manager'">Manager</a>
    </div>
    <div class="collapsible-body">
<li><a routerLink="." [fragment]="'manager-home'">Home</a></li>
<li><a routerLink="." [fragment]="'manager-tasks'">Pending/Completed/No Cycle</a></li>
<li><a routerLink="." [fragment]="'manager-comment-employee'">View and comment an employee</a></li>
</div>
</li>

<li>
    <div class="collapsible-header">
        <a routerLink="." [fragment]="'DVC'">DVC/VC</a>
    </div>
    <div class="collapsible-body">
<li><a routerLink="." [fragment]="'dvc-view-employees'">View Employess</a></li>
<li><a routerLink="." [fragment]="'dvc-comment-com'">Comment</a></li>
</div>
</li>

<li>
    <div class="collapsible-header">
        <a routerLink="." [fragment]="'hr'">Hr Officer</a>
    </div>
    <div class="collapsible-body">
<li><a routerLink="." [fragment]="'hr-view-employees'">Hr view employees</a></li>
<li><a routerLink="." [fragment]="'hr-assign'">Assign supervisor or manager</a></li>
<li><a routerLink="." [fragment]="'hr-change-rights'">Change employees rights</a></li>
<li><a routerLink="." [fragment]="'hr-print-employee-record'">Print record</a></li>
</div>
</li>
</ul>
</div>

<div class="right">
    <div class="main-cont">
        <div class="employee" id="employee">
            <h2>Employee</h2>
            <h3 id="employee-dasboard">Dashboard</h3>
            <p>When you login as an employee, the dashboard opens. The dashboard consist of 3 sections i.e the <b>top
                    navigation bar</b>, the <b>side navigation bar</b> and the <b>main content</b></p>
            <div class="pict">
                <img src="../../assets/instructions/employe-dash.jpg" alt="employee dashboard">
            </div>
            <h4>Top Navigation Bar</h4>
            <p><b>Top navigation bar</b> constist of user profile and notification icon</p>
            <ul>
                <li>user profile - user to view their profile, swith accounts and logging out.</li>
                <li>notification icon - showing all received notifications</li>
            </ul>
            <h4>Side Navigation Bar</h4>
            <p>
                <b>Side navigation bar</b> consist of 4 options, i.e, <b>dashboard</b>, <b>behavioural competencies
                    (BC)</b>, <b>key performance areas (KPAs)</b>, <b>personal development plan (PDP)</b>
            </p>
            <ul>
                <li>dashboard - navigate to the home page</li>
                <li>bc - navigate to the behaviourial competencies page</li>
                <li>kpa - navigate to the key perfomance page</li>
                <li>pdp - navigate to the personal development plan page</li>
            </ul>
            <h4>Main Content</h4>
            <p><b>Main content</b> is divided into 3 sections. i.e <b>section 1</b> <b>section 2</b> <b>section 3</b>
            </p>
            <h4>Section 1 - pie chart showing employee current performance score and bar chart showing employee's
                performance history.</h4>

            <div class="pict">
                <img src="../../assets/instructions/em-sect1.jpg" alt="section1">
            </div>

            <h4>Section 2 - showing a list of all recorded employee performance. </h4>

            <div class="pict">
                <img src="../../assets/instructions/emp-sect2.jpg" alt="section 2">
            </div>

            <h4>Section 3 - calender showing employee's scheduled meetings by the supervisor</h4>

            <div class="pict">
                <img src="../../assets/instructions/emp-sect3.jpg" alt="section 3">
            </div>

            <h3 id="employee-bc">Behaviour Competencies</h3>

        </div>
        
        <div class="supervisor" id="supervisor">
            <h2>Supervisor</h2>
        </div>
        <div class="manager" id="manager">
            <h2>Manager</h2>
        </div>
        <div class="DVC" id="devc">
            <h2>DVC/VC</h2>
        </div>
        <div class="hr-officer" id="hr-officer">
            <h2>HR Officer</h2>
        </div>
    </div>

    <footer class="footerr">
        <img src="../../assets/NUST_logo2.png" alt="">
        <div class="f-inner">
            <span><small>&copy; 2022 Namibia Univesrity of Science and Technology - Performance Management System</small></span>
        </div>
    </footer>
</div>

</div>


<button routerLink="/auth" class="btn-floating btn-large waves-effect waves-light red pulse home">
    home
</button>