$Blue: #1b2c5d;
$Yellow: #fcaf28;
$Red: #da2128;

a {
  color: $Blue;
  &:active {
    color: $Yellow;
  }
}

.nav,.footerr {
    // height: 5vh;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    padding: 10px 16px;
  
    #inst {
      font-size: 22px;
      line-height: 35px;
    }
  }
  .nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: $Blue;
  }

.collapsible {
  border: none;
  box-shadow: none;

  .collapsible-body {
    // display: flex;
    // flex-direction: column;
    li {
      height: 30px;
      margin-bottom: 0.5rem;
      transition: text-decoration 0.3s ease;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.footerr {
  height: 25vh;
  background: url("../../assets/work.svg"), url("../../assets/work1.svg");
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right 4% bottom, left 4% bottom;
  position: relative;

  img {
    position: absolute;
    top: 2rem;
    left: 2rem;
    width: 30%;
  }
  .f-inner {
    height: 100%;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: linear-gradient(
      to left,
      rgb(27, 44, 93),
      rgba(27, 44, 93, 0.938),
      rgba(27, 44, 93, 0.801),
      rgba(27, 44, 93, 0.705),
      rgba(255, 255, 255, 0.815),
      rgba(255, 255, 255, 0.644)
    );

    span {
      color: white;
    }
  }
}

.content {
  min-height: 80vh;
  ul {
    list-style: circle !important;
    font-weight: 600;
  }
  p {
    // width: clamp(45ch,90ch, 85%);
    width: 85%;
    font-size: 16;
    line-height: 1.5;
  }
  .left {
    margin-top: 1rem;
    height: calc(100vh - 60px - 2rem);
    overflow-y: scroll;
    width: 20%;
    padding: 2%;
    position: fixed;
    border-right: #da2128 2px solid;
  }
  .right {
    width: 80%;
    // height: 80vh;
    padding: 2% 0 0 0;
    // border: 2px solid red;
    // overflow-y: auto;
    .main-cont {
      padding: 1rem 4rem;
    }

    .pict {
      width: 100%;
      min-height: 100px;
      height: 600px;
      margin-bottom: 2rem;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: left;
      }
    }
  }
}

.home {
  position: fixed;
  bottom: 2%;
  right: 2%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #da2128;
  border-radius: 15px;
}
