<h2>Behavioural Competencies for Behavioral Performance</h2>
<table mat-table [dataSource]="dataSource" [trackBy]="trackBy" class="mat-elevation-z5"
fixedLayout="true">
  <!-- BC  -->
  <ng-container matColumnDef="behaviour_competencies">
    <th mat-header-cell *matHeaderCellDef> BEHAVIOURAL COMPETENCIES</th>
    <td mat-cell *matCellDef="let element"> {{element.behaviour_competencies}} </td>
  </ng-container>

  <!-- Key_indicators -->
  <ng-container matColumnDef="key_indicators">
    <th mat-header-cell *matHeaderCellDef class="table-text"> KEY PERFORMANCE INDICATORS </th>
    <td mat-cell *matCellDef="let element" class="table-text"> {{element.key_indicators}} </td>
  </ng-container>

  <!-- Seft Rating -->
  <ng-container matColumnDef="self_rating">
    <th mat-header-cell *matHeaderCellDef class="rating"> Incumbent Self-Appraisal Rating </th>
    <td mat-cell *matCellDef="let element" class="rating"> {{element.self_rating}} </td>
  </ng-container>

  <!-- Supervisor_rating -->
  <ng-container matColumnDef="supervisor_rating">
    <th mat-header-cell *matHeaderCellDef class="rating"> Supervisor Rating </th>
    <td mat-cell *matCellDef="let element" class="rating"> {{element.supervisor_rating}} </td>
  </ng-container>

  <!-- Comments -->
  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef class="table-text"> Comments </th>
    <td mat-cell *matCellDef="let element" class="table-text"> {{element.comments}} </td>
  </ng-container>

<!-- bc_weight column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef class="rating"> BC Weight out of 100 </th>
    <td mat-cell *matCellDef="let element" class="rating"> {{element.weight}} </td>
  </ng-container>

  <!-- Final score column -->
  <ng-container matColumnDef="final_score">
    <th mat-header-cell *matHeaderCellDef class="rating"> Final Score </th>
    <td mat-cell *matCellDef="let element" class="rating"> {{calc.calculateScore(element,0.30).toFixed(2)}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openRatingDialog(row)"></tr>
</table>

<div *ngIf="!this.currentPeriod?.ppc?.employee_approval" class="open-confirm" matRipple matTooltip="Commentary Following Performance Review Exercise" (click)="activate()">
  <mat-icon fontSet="material-icons-outlined">{{!!create?"close":"create"}}</mat-icon>
</div>
