.page-not-found{
    background: url('../../assets/page-not-found.svg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    h1{
        font-size: 200px;
    }

    p{
        font-size: 20px;
    }
}