<div class="page-not-found">
    <h1>404</h1>
    <p>404 | Page not found</p>

    <button (click)="back()" class="btn-floating btn-large waves-effect waves-light red pulse">
        back
    </button>
</div>