<h2 mat-dialog-title>Schedule A Meeting</h2>
<div class="content">
    <form class="col s12" #book="ngForm" (ngSubmit)="bookMeeting(book)">

        <div class="row">
            <div class="input-field col s12">
            <textarea id="title" class="materialize-textarea" name="title" ngModel #title="ngModel" required></textarea>
            <label for="title">Title*</label>
            </div>
          </div>

          <div class="row">  
            <div class="input-field col s12">
            <textarea id="des" class="materialize-textarea" name="des" ngModel #des="ngModel" required></textarea>
            <label for="des">Description*</label>
            </div>
          </div>


        <div class="row">
            <div class="input-field col s12">
              <input id="date" name="date" ngModel #date="ngModel" type="datetime-local" required>
              <!-- <div class="datep">
                <input name="date" ngModel #date="ngModel" matInput [matDatepicker]="picker1" required type="datetime-local">
                <mat-datepicker-toggle id="mat-dat" matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </div> -->
              <label class="active" for="date">Date and Time*</label>
            </div>
          </div>

          <button mat-dialog-close [disabled]="book.invalid" id="but" class="btn waves-effect waves-light" type="submit" name="action">
            schedule a meeting
          </button>
    </form>
</div>