<h3 mat-dialog-title>{{data.performance_gap}}</h3>

<div class="pdp" *ngIf="!!data?.performance_gap">
    <form class="col s12" [formGroup]="pdpForm">
        <div class="row">
            <div class="input-field col s12">
                <textarea formControlName="supervisor_comments" id="comment" class="materialize-textarea"></textarea>
                <label for="comment" class="active">Comment</label>
            </div>
        </div>
    </form>
</div>

<div mat-dialog-actions class="action">
    <button [disabled]="pdpForm.invalid" (click)="submitBC()" class="waves-effect waves-light btn-small">save</button>
    <button mat-dialog-close class="waves-effect waves-light btn-small">close</button>
</div>