<h2>Key Performance Areas (KPAs) for Task Performance</h2>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z5"
fixedLayout="true" [trackBy]="trackBy">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- BC  -->
  <ng-container matColumnDef="key_performance_areas">
    <th mat-header-cell *matHeaderCellDef> KEY PERFORMANCE AREAS </th>
    <td mat-cell *matCellDef="let element"> {{element.key_performance_areas}} </td>
  </ng-container>

  <!-- Key_indicators -->
  <ng-container matColumnDef="key_indicators">
    <th mat-header-cell *matHeaderCellDef class="table-text"> KEY PERFORMANCE INDICATORS </th>
    <td mat-cell *matCellDef="let element" class="table-text"> {{element.key_indicators}} </td>
  </ng-container>

  <!-- Seft Rating -->
  <ng-container matColumnDef="self_rating">
    <th mat-header-cell *matHeaderCellDef class="rating"> Incumbent Self-Appraisal Rating </th>
    <td mat-cell *matCellDef="let element" class="rating"> {{element.self_rating}} </td>
  </ng-container>

  <!-- Supervisor_rating -->
  <ng-container matColumnDef="supervisor_rating">
    <th mat-header-cell *matHeaderCellDef class="rating"> Supervisor Rating </th>
    <td mat-cell *matCellDef="let element" class="rating"> {{element.supervisor_rating}} </td>
  </ng-container>

  <!-- Comments -->
  <ng-container matColumnDef="comments">
    <th mat-header-cell *matHeaderCellDef class="table-text"> Comments </th>
    <td mat-cell *matCellDef="let element" class="table-text"> {{element.comments}} </td>
  </ng-container>

<!-- bc_weight column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef class="rating"> KPA Weight out of 100 </th>
    <td mat-cell *matCellDef="let element" class="rating"> {{element.weight}} </td>
  </ng-container>

  <!-- Final score column -->
  <ng-container matColumnDef="final_score">
    <th mat-header-cell *matHeaderCellDef class="rating"> Final Score </th>
    <td mat-cell *matCellDef="let element" class="rating"> {{calc.calculateScore(element,0.70).toFixed(2)}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="openRatingDialog(row)"></tr>
</table>

<div *ngIf="!this.currentPeriod?.ppc?.employee_approval" class="open-confirm" matRipple matTooltip="Commentary Following Performance Review Exercise" (click)="activate()">
  <mat-icon fontSet="material-icons-outlined">{{!!create?"close":"create"}}</mat-icon>
</div>

