<div class="hr">

    <nav class="navbar">
      <div class="logo_name">
        <span>Performance Management System</span>
      </div>
      <div class="mid">
  
      </div>
      <div class="user_profile" [matMenuTriggerFor]="menu" matTooltip="{{user?.firstname}} {{user?.lastname}}">
        <span>{{user?.firstname[0]}}{{user?.lastname[0]}}</span>
      </div>
        <mat-menu #menu="matMenu">
          <button id="bt" mat-menu-item>Profile</button>
          <button id="bt" *ngIf="!!user?.manager" mat-menu-item (click)="switchaccount()">Switch Accounts</button>
          <button id="bt" routerLink="/auth/login" mat-menu-item>Logout</button>
        </mat-menu>
    </nav>
  
    <div class="content1">
      <router-outlet></router-outlet>
    </div>
  
  </div>
  
  <div class="carousel">
    <a class="carousel-item"><span (click)="switchaccount()">Manager</span></a>
    <a class="carousel-item"><span routerLink="/employee">Employee</span></a>
    <a class="carousel-item" id="el1" [ngStyle]="user?.supervisor===true?{'display':'flex'}:{'display':'none'}"><span routerLink="/supervisor">Supervisor</span></a>
    <a class="carousel-item" id="el2" [ngStyle]="user?.dvc_vc===true?{'display':'flex'}:{'display':'none'}"><span routerLink="/dvc-vc">DVC/VC</span></a>
    <a class="carousel-item" id="el3" [ngStyle]="user?.hr_officer===true?{'display':'flex'}:{'display':'none'}"><span routerLink="/hr-department">Hr Officer</span></a>
  </div>
  