<h2>{{id}}</h2>
<div class="employees">

  <div class="row">
    <div class="input-field col s12">
      <input placeholder="" value="input.value" id="search" type="text" class="validate" (keyup)="applyFilter()"
        [(ngModel)]="filterText">
      <label for="search">search an employee</label>
    </div>
  </div>
  <table mat-table [dataSource]="employee" [trackBy]="trackBy" class="mat-elevation-z5" fixedLayout="true">

    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef>First Name </th>
      <td mat-cell *matCellDef="let element" [routerLink]="['/hr-department/view-employee',element._id]">
        {{element.firstname}} </td>
    </ng-container>

    <!-- Key_indicators -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Last Name</th>
      <td mat-cell *matCellDef="let element" [routerLink]="['/hr-department/view-employee',element._id]">
        {{element.lastname}} </td>
    </ng-container>

    <!-- Seft Rating -->
    <ng-container matColumnDef="supervisor">
      <th mat-header-cell *matHeaderCellDef> Supervisor </th>
      <td mat-cell *matCellDef="let element" [routerLink]="['/hr-department/view-employee',element._id]">
        {{element.supervisor?'Yes':'No'}} </td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let element" [routerLink]="['/hr-department/view-employee',element._id]">
        {{element.position}} </td>
    </ng-container>

    <!-- Supervisor_rating -->
    <ng-container matColumnDef="probation">
      <th mat-header-cell *matHeaderCellDef> Probation </th>
      <td mat-cell *matCellDef="let element" [routerLink]="['/hr-department/view-employee',element._id]">
        {{element.probation}} </td>
    </ng-container>

    <!-- Comments -->
    <ng-container matColumnDef="job_grade">
      <th mat-header-cell *matHeaderCellDef> Job Grade </th>
      <td mat-cell *matCellDef="let element" [routerLink]="['/hr-department/view-employee',element._id]">
        {{element.job_grade??'0'}}
      </td>
    </ng-container>

    <ng-container matColumnDef="archive">
      <th mat-header-cell *matHeaderCellDef class="archive1">
        <div class="archive">
          <mat-icon>pan_tool_alt</mat-icon>
        </div>
      </th>
      <td mat-cell *matCellDef="let element" class="archive1">

        <div class="archive" matTooltip="archive {{element.firstname}} {{element.lastname}}" matRipple
          (click)="add_archive(element.email)">
          <mat-icon fontSet="material-icons-round">archive</mat-icon>
        </div>

        <div class="archive" matTooltip="change {{element.firstname}} {{element.lastname}} department/faculty" matRipple
          (click)="openBottomSheet(element)">
          <mat-icon fontSet="material-icons-outlined">edit</mat-icon>
        </div>

      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No Employees Available.</td>
    </tr>
  </table>

  <mat-paginator class="mat-elevation-z4" showFirstLastButtons [pageSizeOptions]="[10, 20, 50, 100]"
    aria-label="Select page">
  </mat-paginator>
</div>

<div class="archived-employee-button">
  <button class="btn-floating btn-large waves-effect waves-light red" (click)="hideArchive()"
    matTooltip="open/close archive employees">
    <mat-icon>{{show?'close':'archive'}}</mat-icon>
  </button>
</div>

<div class="archive-employees">
  <mat-list role="list">
    <mat-list-item class="list">
      <div class="grid-list">
        <div>#</div>
        <div>First Name</div>
        <div>Surname</div>
        <div>Email</div>
        <div>Position</div>
        <div class="archive1">
          <div class="archive">
            <mat-icon>settings</mat-icon>
          </div>
        </div>
      </div>
    </mat-list-item>
    <mat-list-item class="list" matRipple role="listitem" *ngFor="let user of archived_employees$ | async;index as i;">
      <div class="grid-list">
        <div>{{i+1}}.</div>
        <div>{{user.firstname}}</div>
        <div>{{user.lastname}}</div>
        <div>{{user.email}}</div>
        <div>{{user.position}}</div>

        <div class="archive1">
          <div class="archive" matRipple (click)="remove_archive(user.email)"
            matTooltip="unarchive {{user.firstname}} {{user.lastname}}">
            <mat-icon fontSet="material-icons-round">
              unarchive
            </mat-icon>
          </div>
        </div>
      </div>
    </mat-list-item>
  </mat-list>

</div>