$Blue: #002469;

.employees {
  width: 100%;
  margin-bottom: 5rem;
}

.archived-employee-button {
  position: fixed;
  bottom: 1.5rem;
  right: 1rem;
  z-index: 20;

  .btn-floating {
    display: grid;
    place-items: center;
  }
}

.archive-employees {
  padding: 4%;
  position: fixed;
  right: -100%;
  bottom: 0;
  height: calc(100vh - 60px);
  width: clamp(500px,75%,75%);
  overflow-y: scroll;
  background: linear-gradient(to left, white 75%, rgba(255, 255, 255, 0.233));
  z-index: 19;
  transition: all .5s ease-out;
  box-shadow: 0 0 0 20px 0 rgba(0, 0, 0, 0.918);
  &.active{
    right: 0%;
  }

  &::-webkit-scrollbar{
    width: 8px;
  }

  &::-webkit-scrollbar-track{
    background-color: transparent;
  }
  &::-webkit-scrollbar-thumb{
    border-radius: 5px;
    background-color: $Blue;
  }
}

.list {
  background: transparent;
  .grid-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    place-items: center;
  }
}

.archive1 {
  width: 100%;
  height: 45px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: none;

  .archive {
    cursor: pointer;
    color: $Blue;
    border-radius: 100%;
    width: 43px;
    height: 43px;
    display: grid;
    place-items: center;
    transition: background 0.4s ease;

    &:hover {
      background: #8b807527;
    }
  }
}


