<div class="choose_profile">
<div class="inside-prof">
  <h2>Login As</h2>
  <div class="users">
    <div class="usertype" routerLink="/employee/dashboard">
        Employee
    </div>

    <div class="usertype" *ngIf="!!sup" routerLink="/supervisor/view-all-employees">
      Supervisor
    </div>

    <div class="usertype" *ngIf="!!hr" routerLink="/hr-department/dashboard">
      Hr Officer
    </div>
  </div>
</div>
</div>
