// h2{
//   text-align: left;
// }
.choose_profile{
  width: 100%;
  min-height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .inside-prof{
    width: 100%;
    padding: 4%;
    .users{
      width: 100%;
      display: grid;
      justify-content: center;
      // padding: 0 20%;
      grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
      grid-gap: 5%;

      .usertype{
        cursor: pointer;
        height: 100px;
        border-radius: 8px;
        box-shadow: 0 0 10px 1px rgb(0, 37, 105);
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        font-weight: 100;
        background: #D22730;
        color: white;
        transition: all .2s ease-out 0s;

        &:hover{
          background: rgb(0, 37, 105);
          box-shadow: 0 0 10px 1px #f0b223d7;
          transform: scale(1.04);
        }
      }
    }
  }
}


