$yellow: #f0b223;
h1,
h3 {
    width: fit-content;
    &::after {
        height: 2px;
        width: 100%;
        margin: 2% auto;
        display: block;
        content: "";
        background-color: $yellow;
    }
}

h3 {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.sup {
    padding: 1% 3%;
}

.pa:focus {
    border: none;
}

.search {
    float: right;
    width: 30%;
    height: 40px;
    display: flex;
    overflow: hidden;
    align-items: center;
    // justify-content: space-between;
    padding: 0%;
    border-radius: 50px;
    box-shadow: 0 0 5px 1px rgba(110, 108, 108, 0.411);
    margin-bottom: 2%;
    input {
        border: none;
        margin-bottom: 0;
        display: flex;
        align-items: center;
        padding-right: 2%;

        &:focus{
            border: none !important;
            box-shadow: 0 0 0 0 transparent !important;
        }
    }

    .ser {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2%;
        color: gray;
    }
}

.supervisor {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2%;

    .super {
        border-radius: 8px;
        box-shadow: 0 0 10px 1px rgba(110, 108, 108, 0.411);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5%;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.03);
        }

        .su_profile {
            width: 100px;
            height: 100px;
            font-size: 35px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            background: $yellow;
            color: white;
            margin-bottom: 3%;
        }
    }
}
