<div class="sup">
    <h1>Supervisors</h1>
    <div class="search">
        <div class="ser">
            <mat-icon>search</mat-icon>
        </div>
        <input type="text" class="pa" placeholder="search supervisors" [(ngModel)]="searchText" (keyup)="searchSu()">
    </div>
    <div class="supervisor">
        <div class="super" *ngFor="let su of supervisors;trackBy:trackBy" [routerLink]="['/manager/view-employees',su._id]">
            <div class="su_profile">
                {{su.firstname[0]}}{{su.lastname[0]}}
            </div>
            <h3 matTooltip="{{su.firstname}} {{su.lastname}}">{{su.firstname}} {{su.lastname}}</h3>
            <h5>{{su.email}}</h5>
        </div>
    </div>
</div>