$Blue: rgb(27, 44, 93);
$Yellow: rgb(252, 175, 23);
$Red: rgb(218, 33, 40);

h3{
    width: fit-content;
    &::after{
        margin: 2% auto;
        width: 90%;
        display: block;
        content: '';
        height: 2px;
        background:linear-gradient(to right, $Blue, $Yellow,$Red);
    }
}