<h2 mat-dialog-title><mat-icon>notifications_active</mat-icon></h2>
<h3 mat-dialog-title>TITLE</h3>
<h4 mat-dialog-title>{{data?.title}}</h4>
<div mat-dialog-content class="content">
    <h3>Description</h3>
    <p>{{data?.description}}</p>
    <span><small> Date: {{data?.date_time | date:'medium'}}</small></span>
</div>
<div class="actions">
    <button mat-dialog-close class="waves-effect waves-light btn-small">Close</button>
</div>