<div class="register">
    <h2>Register</h2>
    <div class="row">
      <form class="col s12" #register="ngForm" (ngSubmit)="registerUser(register)">

        <div class="row">
          <div class="input-field col s6">
          <input id="firstname" name="fn" ngModel #fn="ngModel" type="text" class="validate" required>
          <label for="firstname">First Name</label>
          </div>

          <div class="input-field col s6">
          <input id="lastname" name="ln" ngModel #ln="ngModel" type="text" class="validate" required>
          <label for="lastname">Last Name</label>
          </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
                <input   id="email" name="em" ngModel #em="ngModel" type="email" class="validate" required>
                <label for="email">Email</label>
            </div>

            <div class="input-field col s6">
              <!-- <input id="faculty"  type="text" class="validate" required> -->
              <label class="active" for="faculty">Faculty/Department</label>
              <select name="fac" ngModel #fac="ngModel" required>
                <option *ngFor="let faculty of data.faculty;" [value]="faculty.name">{{faculty.name}}</option>
                <option *ngFor="let department of data.department;" [value]="department.name">{{department.name}}</option>
                <!-- <option *ngFor="let faculty of http?.faculty" value="k">{{faculty.name}}</option> -->
                <!-- <option *ngFor="let faculty of arr" value="k">{{faculty}}</option> -->
              </select>

              <!-- <option *ngFor="let faculty of arr" value="k">{{faculty}}</option> -->


              <!-- <div  *ngFor="let faculty of http.faculty;">
                {{faculty.name}}
              </div> -->
          </div>
        </div>

        <div class="row">

            <div class="input-field col s6">
              <input id="position" name="po" ngModel #po="ngModel" type="text" class="validate" required>
              <label for="position">Position</label>
            </div>

            <div class="input-field col s6">
              <label class="active">Nature of Appointment</label>
              <select name="na" ngModel #na="ngModel" required>
                <option value="Permanent Appointment">Permanent Appointment</option>
                <option value="Fixed Term Appointment">Fixed Term Appointment</option>
              </select>
            </div>
        </div>

        <div class="row">
          <div class="input-field col s6">
            <!-- <input id="date" name="da" ngModel #da="ngModel" type="date" class="datepicker" required> -->
            <div class="datep">
              <input name="da" ngModel #da="ngModel" matInput [matDatepicker]="picker1" required>
              <mat-datepicker-toggle id="mat-dat" matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </div>
            <label class="active" for="date">Date of Appointment and Period</label>
          </div>

          <div class="input-field col s6">

            <div class="datep">
              <input matInput [matDatepicker]="picker" name="pu" ngModel #pu="ngModel" required>
              <mat-datepicker-toggle id="mat-dat" matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </div>

            <!-- <mat-form-field appearance="fill">
              <mat-label>Inherited calendar color</mat-label>

            </mat-form-field> -->
            <!-- <input id="period_undereview" name="pu" ngModel #pu="ngModel" type="text" class="datepicker" required> -->
            <label class="active" for="period_undereview">Period Under Review</label>
          </div>
        </div>

        <div class="row">
            <div class="input-field col s6">
              <label class="active">Job Grade</label>
              <select name="jb" ngModel #jb="ngModel" required>
                <option *ngFor="let level of jobLevels;" [value]="level">{{level}}</option>
              </select>
            </div>

            <div class="input-field col s6">
                <label class="active">Probation Level (If Applicable)</label>
                <select name="pr" ngModel #pr="ngModel" required>
                  <option *ngFor="let prob of probations;" [value]="prob">{{prob}}</option>
                </select>
            </div>
        </div>

        <div class="row">


          <!-- <div class="input-field col s6">
            <label for="performance_cycle" class="active">Performance Cycle</label>
            <select id="performance_cycle" name="pc" ngModel #pc="ngModel" required>
              <option value="1st  Performance Review Cycle/ Mid Year Review">1st  Performance Review Cycle/ Mid Year Review</option>
              <option value="2nd Performance Review Cycle/ Annual Review">2nd Performance Review Cycle/ Annual Review</option>
              <option value="1st Quarter Review">1st Quarter Review</option>
              <option value="2nd Quarter Review">2nd Quarter Review</option>
              <option value="3rd Quarter Review">3rd Quarter Review</option>
              <option value="4th Quarter Review">4th Quarter Review</option>
              <option value="Mid Year Review">Mid Year Review</option>
              <option value="Annual Review">Annual Review</option>
              <option value="Quarter Review">Quarter Review</option>
            </select>
          </div> -->
        </div>

        <div class="row">
          <div class="input-field col s6">
            <input   id="password" name="pass" ngModel #pass="ngModel" type="password" class="validate" required>
            <label for="password">Password</label>
          </div>

          <div class="input-field col s6">
            <input  id="conpassword" type="password" name="conpass" ngModel #conpass="ngModel" [pattern]="pass.value"  class="validate" required>
            <span *ngIf="conpass.invalid && conpass.touched" class="helper-text" >
              <span *ngIf="conpass.errors?.pattern">password dont match</span>
            </span>
            <label for="conpassword">Confrim Password</label>
          </div>
        </div>

        <button [disabled]="register.invalid" id="but" class="btn waves-effect waves-light" type="submit" name="action">
          Register
        </button>
    </form>
  </div>
    <label id="lab" routerLink="/auth/login">Already Have an Acocount?<strong>Login</strong></label>
</div>
