.register{
  width: 100%;
  padding: 6% 3% 1% 3%;
}

.row{
  margin-bottom: 0;
}

.input-field{
  margin-top: 0;
}

h2,#lab{
  margin-left: 2%;
}

.datep{
  // display: flex;
  position: relative;

  #mat-dat{
    position: absolute;
    top: 2%;
    right: 0;
  }
}

