<div class="row login">
  <h2>Login</h2>
  <form class="col s12" #loginform="ngForm" (ngSubmit)="login(loginform)">
    <div class="row">
      <div class="input-field col s12">
        <input ngModel #email="ngModel" name="email" id="username" type="email" class="validate" required>
        <span style="color: #D22730;" class="helper-text" *ngIf="email?.invalid && loginform?.submitted || email?.touched && email?.invalid">
          <span *ngIf="email.errors?.['required']">email address <strong>required</strong></span>
        </span>
        <label for="username">Email</label>
      </div>
      <div class="input-field col s12">
        <input ngModel #password="ngModel" name="password" id="password" type="password" class="validate" required>
        <span style="color: #D22730;" class="helper-text" *ngIf="password?.invalid && loginform?.submitted || password?.touched && password?.invalid">
          <span *ngIf="password.errors?.['required']">password <strong>required</strong></span>
        </span>
        <label for="password">Password</label>
      </div>
    </div>

    <p>
      <label>
        <input class="with-gap" ngModel #user="ngModel" name="user" value="employee" type="radio" />
        <span id="span">Employee</span>
      </label>

      <label>
        <input class="with-gap" ngModel #user="ngModel" value="supervisor" name="user" type="radio" />
        <span id="span">Supervisor</span>
      </label>

      <label>
        <input class="with-gap" ngModel #user="ngModel" value="manager" name="user" type="radio" />
        <span id="span">Manager</span>
      </label>

      <label>
        <input class="with-gap" ngModel #user="ngModel" name="user" value="dvc_vc" type="radio" />
        <span id="span">DVC/VC</span>
      </label>

      <label>
        <input class="with-gap" ngModel #user="ngModel" name="user" value="hr_officer" type="radio" />
        <span id="span">HR Officer</span>
      </label>
    </p>

    <div>
    <label id="lab1" style="color: #D22730;">{{errormsg}}</label>
    </div>

    <button class="btn waves-effect waves-light" type="submit" name="action">
      login
    </button>
  </form>
  <label id="lab" routerLink="/auth/register">Do you have an Account? <strong>Register</strong></label>
</div>