<h2>Employees</h2>
<div class="all">
  <div class="view-employees">
    <div class="top-search">
      <div class="search">
        <div class="ser">
          <mat-icon>search</mat-icon>
        </div>
        <input type="text" placeholder="search employees" [(ngModel)]="searchfilter"
          (keyup)="searchEmployee()">
      </div>
    </div>
    <div class="employee-list">
      <div class="employee" *ngFor="let emp of employees;trackBy:trackBy"
        [routerLink]="['/supervisor/view-update-employee-details',emp._id]">
        <div class="profile">
          <span>{{emp?.firstname[0]}}{{emp?.lastname[0]}}</span>
        </div>
        <div class="details">
          <h3>{{emp.firstname}} {{emp.lastname}}</h3>
          <div>Email: {{emp.email}}</div>
          <div>Job Grade: {{emp.job_grade??'0'}}</div>
          <div>Probation: {{emp.probation}}</div>
        </div>
        <div class="status">
          <div class="no-cycle st" [style.background]="'#da2128'" *ngIf="!emp?.employee_records" matTooltip="no performance cycle">
            <mat-icon  fontSet="material-icons-round">close</mat-icon>
          </div>
          <div *ngIf="!!emp?.employee_records" [style.background]="emp?.employee_records?.performance_contracting_status==='done'?'#1b2c5d':'#8b8075b7'" class="contracting st" matTooltip="Contracting status {{emp?.employee_records?.performance_contracting_status}}">
            <mat-icon fontSet="material-icons-round">{{emp.employee_records?.performance_contracting_status==='done'? "done":"remove"}}</mat-icon>
          </div>
          <div *ngIf="!!emp?.employee_records" [style.background]="emp?.employee_records?.performance_review_status==='done'?'#1b2c5d':'#8b8075b7'" class="reveiwing st" matTooltip="Reviewing status {{emp?.employee_records?.performance_review_status}}">
            <mat-icon fontSet="material-icons-round">{{emp?.employee_records?.performance_review_status==='done'? "done":"remove"}}</mat-icon>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="graphs">
    <h2>Task Completed</h2>
    <canvas id="pie"></canvas>
  </div>
</div>