$Blue: #1b2c5d;
$Yellow: #fcaf17;
$Red: #da2128;
$Grey:#5f5d5d;

h2 {
  text-align: center;
  // width: fit-content;
  // &::after{
  //   display: block;
  //   content: '';
  //   background-color: #D22730;
  //   margin: 2% auto;
  //   height: 2px;
  //   width: 90%;
  // }
}

.all {
  display: flex;
  .view-employees {
    width: 80%;
    padding: 0% 2%;
    .top-search {
      // position: relative;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1%;
      // border: 2px solid red;
      .search {
        // position: absolute;
        // right: 1%;
        // top: 1%;
        width: 30%;
        min-width: 300px;
        // height: 45px;
        border-radius: 25px;
        box-shadow: 0 0 5px 1px #80808036;
        display: flex;
        align-items: center;
        gap: 1%;
        padding: 0 1%;
        transition: all 0.3s ease;
        .ser {
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 2%;
          color: gray;
        }
        input {
          border: none !important;
          padding-right: 2%;
          display: flex;
          align-items: center;
          // border: red 2px solid !important;
          margin-bottom: 0 !important;
          &::placeholder {
            color: $Grey;
          }
          &:focus {
            border: none !important;
            box-shadow: 0 0 0 0 transparent !important;
          }
        }
        &:hover {
          // transform: scale(1.03);
          // background: rgba(128, 128, 128, 0.041);
          // background: linear-gradient(to left,$Blue,$Yellow);
          // color: wheat;
          box-shadow: 0 0 10px 1px rgba(128, 128, 128, 0.61);
        }
      }
    }

    .employee-list {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 3%;
      padding-top: 2%;

      .employee {
        padding: 5% 0;
        min-height: 200px;
        border-radius: 8px;
        box-shadow: 0 0 8px 1px #8b8075e1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition:transform 0.7s ease-in-out 0s;
        -webkit-transition:transform 0.7s ease-in-out 0s;
        position: relative;
        cursor: pointer;

        .profile {
          width: 70px;
          height: 70px;
          border-radius: 100%;
          background: #d22730;
          color: white;
          display: flex;
          align-items: center;
          font-size: 30px;
          text-transform: uppercase;
          justify-content: center;
        }

        .details {
          width: 100%;
          padding: 6%;
          text-align: center;
          h3 {
            text-align: center;
            font-weight: 500;
            text-transform: capitalize;
            // width: fit-content;
            &::after {
              display: block;
              content: "";
              height: 2px;
              width: 80%;
              margin: 2% auto;
              background: #f0b323;
            }
          }
        }

        .status {
          width: 100%;
          display: flex;
          justify-content: flex-end;
          gap: .3rem;
          position: absolute;
          padding: .4rem;
          bottom: 0;
          .st,mat-icon{
            display: grid;
            place-items: center;
            width: fit-content;
            height: fit-content;
            font-size: x-small;
          }
          .st{
            border-radius: 100%;
            padding: .2rem;
            color: white;
            background: #8b8075b7;

          }
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .graphs {
    width: 20%;
    padding: 1%;
    border-left: 2px solid #d22730;
  }
}
