<h2>{{id}}</h2>
<div class="employees">

  <div class="row">
    <div class="input-field col s12">
      <input placeholder="" value="input.value" id="search" type="text" class="validate" (keyup)="applyFilter()"
        [(ngModel)]="filterText">
      <label for="search">Search an Employee</label>
    </div>
  </div>
  <table mat-table [dataSource]="employee" [trackBy]="trackBy" class="mat-elevation-z5" fixedLayout="true">

    <ng-container matColumnDef="firstname">
      <th mat-header-cell *matHeaderCellDef>First Name </th>
      <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
    </ng-container>

    <!-- Key_indicators -->
    <ng-container matColumnDef="lastname">
      <th mat-header-cell *matHeaderCellDef> Last Name</th>
      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
    </ng-container>

    <!-- Seft Rating -->
    <ng-container matColumnDef="supervisor">
      <th mat-header-cell *matHeaderCellDef> Supervisor </th>
      <td mat-cell *matCellDef="let element"> {{element.supervisor?'Yes':'No'}} </td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> Position </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>

    <!-- Supervisor_rating -->
    <ng-container matColumnDef="probation">
      <th mat-header-cell *matHeaderCellDef> Probation </th>
      <td mat-cell *matCellDef="let element"> {{element.probation}} </td>
    </ng-container>

    <!-- Comments -->
    <ng-container matColumnDef="job_grade">
      <th mat-header-cell *matHeaderCellDef> Job Grade </th>
      <td mat-cell *matCellDef="let element"> {{element.job_grade??'0'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [routerLink]="['/dvc-vc/view-employee',row._id]" *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No Employee Available.</td>
    </tr>
  </table>

  <mat-paginator class="mat-elevation-z4" showFirstLastButtons [pageSizeOptions]="[10, 20, 50, 100]" aria-label="Select page">
  </mat-paginator>
</div>