<div class="edashboard">
  <div class="status">
    <h3>Employee Status</h3>
    <div class="graphs">
      <div class="pie">
        <canvas id="pie"></canvas>
      </div>
      <div class="line">
        <canvas id="line"></canvas>
      </div>
    </div>
    <h3><span *ngIf="totals?.totalscore>=1">Total Score: {{totals?.totalscore?.toFixed(0)}} %</span> <span> {{cal.showComment(totals?.totalscore?.toFixed(0))}}</span></h3>
  </div>

  <div class="employeerecord">
    <h3>All Employee's Performance Records</h3>

    <div matTooltip="View performance" class="records" *ngFor="let emrec of employee?.employee_record;trackBy:trackBy" (click)="openAllRecordDialog(emrec)">
      {{emrec.period}}
    </div>

  </div>

  <div class="employeerecord">
    <h3>Calendar</h3>
    
    <full-calendar [options]="calendarOptions"></full-calendar>
  </div>
</div>
