h3{
  width: fit-content;

  &::after{
    margin: 2px auto;
    display: block;
    height: 2px;
    content: '';
    width: 100%;
    background: #D22730;
  }
}
.edashboard{
  padding: 2%;

  .status{
    border-radius: 10px;
    box-shadow: 0 0 12px 1px rgba(104, 114, 122, 0.486);
    padding: 3%;
    height: fit-content;

    .graphs{
      display: flex;
      gap: 2%;
      grid-auto-columns: minmax(1fr,auto);
      .pie,.line{
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .pie{
        width: 30%;
      }
      .line{
        width: 65%;
      }
    }
  }

  .employeerecord{
    margin-top: 3%;
    border-radius: 10px;
    box-shadow: 0 0 12px 1px rgba(104, 114, 122, 0.486);
    padding: 3%;

    .records{
      border-radius: 8px;
      box-shadow: 0 0 5px 1px rgba(104, 114, 122, 0.486);
      padding: 1%;
      transition: .5s;
      cursor: pointer;
      margin-bottom: 1.5%;
      &:hover{
        transform: scale(1.02);
      }
    }
  }
}
