<h2>PERSONAL DEVELOPMENT PLAN (PDP)</h2>
<table mat-table [dataSource]="dataSource" [trackBy]="trackBy" class="mat-elevation-z5"
fixedLayout="true">

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- BC  -->
  <ng-container matColumnDef="performance_gap">
    <th mat-header-cell *matHeaderCellDef>  Performance Gap/ Need Identified </th>
    <td mat-cell *matCellDef="let element"> {{element.performance_gap}} </td>
  </ng-container>

  <!-- Key_indicators -->
  <ng-container matColumnDef="intervation_required">
    <th mat-header-cell *matHeaderCellDef> Intervention required </th>
    <td mat-cell *matCellDef="let element"> {{element.intervation_required}} </td>
  </ng-container>

  <!-- Seft Rating -->
  <ng-container matColumnDef="time_frame">
    <th mat-header-cell *matHeaderCellDef> Timeframe </th>
    <td mat-cell *matCellDef="let element"> {{element.time_frame}} </td>
  </ng-container>

  <!-- Supervisor_rating -->
  <ng-container matColumnDef="Indicator_for_DGA">
    <th mat-header-cell *matHeaderCellDef class="table-text"> Indicator for developmental goal achievement</th>
    <td mat-cell *matCellDef="let element" class="table-text"> {{element.Indicator_for_DGA}} </td>
  </ng-container>

  <!-- Comments -->
  <ng-container matColumnDef="supervisor_comments">
    <th mat-header-cell *matHeaderCellDef class="table-text"> Comments by Supervisor  </th>
    <td mat-cell *matCellDef="let element" class="table-text"> {{element.supervisor_comments}}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<div class="pdpform">
  <button *ngIf="!!currentPeriod && !this.currentPeriod?.ppc?.employee_approval" (click)="hidePDP()" class="waves-effect waves-light btn-small" matTooltip="Click to view/hide PDP form ">{{hide?"Close PDP":"Create PDP"}}</button>

  <form *ngIf="!!hide" class="col s12" [formGroup]="pdpFormGroup">
    <div class="row">
      <div class="input-field col s6">
        <textarea id="pg" class="materialize-textarea" formControlName="performance_gap" required></textarea>
        <label for="pg">Performance Gap/ Need Identified</label>
      </div>
      <div class="input-field col s6">
        <textarea id="ir" formControlName="intervation_required" class="materialize-textarea" required></textarea>
        <label for="ir">Intervention required</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s6">
        <textarea id="tm" class="materialize-textarea" formControlName="time_frame" required></textarea>
        <label for="tm">Timeframe</label>
      </div>
      <div class="input-field col s6">
        <textarea id="dga" formControlName="Indicator_for_DGA" class="materialize-textarea" required></textarea>
        <label for="dga">Indicator for developmental goal achievement</label>
      </div>
    </div>

    <button (click)="submitPDP()" [disabled]="pdpFormGroup.invalid" class="waves-effect waves-light btn-small">Save</button>
  </form>
</div>

<div *ngIf="!this.currentPeriod?.ppc?.employee_approval" class="open-confirm" matRipple matTooltip="Commentary Following Performance Review Exercise" (click)="activate()">
  <mat-icon fontSet="material-icons-outlined">{{!!create?"close":"create"}}</mat-icon>
</div>

