.pdpform{
  margin-top: 3%;
}

.open-confirm{
  position: fixed;
  z-index: 50;
  bottom: 3%;
  right: 2%;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: #f0b223;
  color: #002469;
  cursor: pointer;

  &:focus{
    box-shadow: 0 0 10px 5px white;
  }
}