<div class="side-bar">
    <div class="s-bar">
        <h3 (click)="getEmployeeData('employee','')"> Employees</h3>

        <ul class="collapsible">

            <li>
                <div matRipple class="collapsible-header">
                    <mat-icon class="material-icons-round">
                        pending_actions
                    </mat-icon>
                    <span>Pending</span>
                    <mat-icon fontSet="material-icons-round" class="vi">
                        expand_more
                    </mat-icon>
                </div>
                <div class="collapsible-body">
                    <div matRipple class="employees" *ngFor="let emp of pending; trackBy:PtrackBy"
                        (click)="getEmployeeData(emp,emp.firstname+' '+emp.lastname)">
                        <span>{{emp.firstname}} {{emp.lastname}}</span>
                    </div>
                </div>
            </li>

            <li>
                <div matRipple class="collapsible-header">
                    <mat-icon class="material-icons-round">
                        add_task
                    </mat-icon>
                    <span>Completed</span>
                    <mat-icon fontSet="material-icons-round" class="vi">
                        expand_more
                    </mat-icon>
                </div>
                <div class="collapsible-body">
                    <div matRipple class="employees" *ngFor="let emp of completed;trackBy:CtrackBy"
                        (click)="getEmployeeData(emp,emp.firstname+' '+emp.lastname)">
                        <span>{{emp.firstname}} {{emp.lastname}}</span>
                    </div>
                </div>
            </li>

            <li>
                <div matRipple class="collapsible-header">
                    <mat-icon fontSet="material-icons-round">
                        warning
                    </mat-icon>
                    <span>No Performance Cycle</span>
                    <mat-icon fontSet="material-icons-round" class="vi">
                        expand_more
                    </mat-icon>

                </div>
                <div class="collapsible-body">
                    <div matRipple class="employees" *ngFor="let emp of nocycle;trackBy:NtrackBy"
                        (click)="getEmployeeData(emp,emp.firstname+' '+emp.lastname)">
                        <span>{{emp.firstname}} {{emp.lastname}}</span>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>

<div class="content">
    <div class="statistics" *ngIf="!employeeData">
        <h2>Employee's Statistics</h2>
        <div class="graphs">
            <div class="gr">
                <canvas id="pie"></canvas>
            </div>
        </div>
    </div>
    <div class="view-form" *ngIf="!!employeeData">
        <employee [name]="name" (complete)="complete($event)" [data]="employeeData"></employee>
    </div>
    <div class="footer">
        <span><small>&copy; 2022 Namibia Univesrity of Science and Technology - Performance Management System</small></span>
    </div>
</div>