$blue:#002469;
$yellow:#f0b223;
$grey:rgb(139, 127, 113);
$red:#D22730;

mat-icon{
    // color: #f0b323;
    color: white;
} 

.collapsible{
    box-shadow: 0 0 0 0;
    background: transparent;
    border: none;
  
    .collapsible-header{
      position: relative;
      margin: 0;
      border: none;
      background: transparent;
      padding: 0 3%;
      gap: 3%;
      font-weight: 100;
      align-items: center;
      height: 40px;
      transition: all .4s ease 0s;
      border-radius: 6px;
  
      .vi{
        position: absolute;
        right: 2%;
        bottom: 20%;
      }
  
      &:hover{
        background: #f0b223d7;
        mat-icon{
          color: white;
        }
      }
    }
    .collapsible-body{
      padding: 2% 0 2% 0;
      border-bottom: none;
    }
  }
  

h4,h2{
    width: fit-content;
    &::after{
        margin: 1% auto;
        width: 100%;
        content: '';
        height: 2px;
        display: block;
        background: $yellow;
    }
}

.side-bar{
    position: fixed;
    top: 64px;
    left: 0;
    width: 23%;
    height: calc(100vh - 64px);
    overflow-y: scroll;
    background: url('../../../assets/nustpic2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;

    .s-bar{
        background: linear-gradient(to bottom, #002469, rgba(0, 37, 105, 0.522));
        // display: none;
        padding: 3%;
        width: 100%;
        min-height: 100%;
        h3{
            cursor: pointer;
        }
    }

    &::-webkit-scrollbar{
        width: 7px;
        background: linear-gradient(to bottom, #002469, rgba(0, 37, 105, 0.522));
    }
    &::-webkit-scrollbar-thumb{
        background: $yellow;
        color: $yellow;
    }

    h3{
        text-align: center;
    }

    .employees{
        display: flex;
        align-items: center;
        height: 40px;
        padding: 0 3%;
        border-radius: 5px;
        cursor: pointer;
        transition: .5s;
        margin-bottom: 2%;
        // background: yellow;
        &:hover{
            background: $red;
            transform: scale(1.01);
        }
        span{
            font-weight: 200;
        }
    }

}
.content{
    position: absolute;
    top: 0;
    left: 23%;
    width: 77%;
    padding: 1.5%;
    padding-bottom: 1%;
    // border: 2px solid red;
    .statistics{
        padding: 2%;
        width: 100%;
        height: 85vh;
        border-radius: 8px;
        box-shadow: 0 0 8px 1px $grey;

        .graphs{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;

            .gr{
                width: 400px;
                height: 400px;
            }

            #pie{
                width: 100px;
                height: 100px;
            }
        }
    }
    .view-form{
        border-radius: 8px;
        width: 100%;
        padding: 2%;
        box-shadow: 0 0 8px 1px $grey;
    }
}


