/* You can add global styles to this file, and also import other style files */
$Blue: #1b2c5d;
$Yellow: #fcaf17;
$Red: #da2128;

$chip-selected-color:$Blue;
$secondary-color: pink !default;

@import  'materialize-css/sass/components/_color-variables.scss';
@import 'materialize-css/sass/components/_color-classes.scss';
@import 'materialize-css/sass/components/_variables';
$secondary-color: $Blue !default;
// @use "materialize-css/sass/components/color";
// @use "materialize-css/sass/components/variables";


// @use '@angular/material' as mat;

// @include mat.core();

// $my-primary: mat.define-palette(mat.$blue-palette, 500);
// $my-accent: mat.define-palette(mat.$orange-palette, A200, A100, A400);
// $my-worn: mat.define-palette(mat.$light-blue-palette, A200, A100, A400);

// $my-theme: mat.define-light-theme((
//  color: (
//    primary: $my-primary,
//    accent: $my-accent,
//    worn:$my-worn
//  )
// ));

// // Emit theme-dependent styles for common features used across multiple components.
// @include mat.core-theme($my-theme);
// @include mat.all-component-themes($my-theme);
// @include mat.strong-focus-indicators-theme($my-theme);


.input-field input[type="text"]:focus + label {
  color: $Blue;
}

input:not([type]):focus:not([readonly]),
input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="password"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
input[type="url"]:not(.browser-default):focus:not([readonly]),
input[type="time"]:not(.browser-default):focus:not([readonly]),
input[type="date"]:not(.browser-default):focus:not([readonly]),
input[type="datetime"]:not(.browser-default):focus:not([readonly]),
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]),
input[type="tel"]:not(.browser-default):focus:not([readonly]),
input[type="number"]:not(.browser-default):focus:not([readonly]),
input[type="search"]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $Blue;
  -webkit-box-shadow: 0 1px 0 0 $Blue;
  box-shadow: 0 1px 0 0 $Blue;
}

input:not([type]):focus:not([readonly]) + label,
input[type="text"]:not(.browser-default):focus:not([readonly]) + label,
input[type="password"]:not(.browser-default):focus:not([readonly]) + label,
input[type="email"]:not(.browser-default):focus:not([readonly]) + label,
input[type="url"]:not(.browser-default):focus:not([readonly]) + label,
input[type="time"]:not(.browser-default):focus:not([readonly]) + label,
input[type="date"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime"]:not(.browser-default):focus:not([readonly]) + label,
input[type="datetime-local"]:not(.browser-default):focus:not([readonly]) + label,
input[type="tel"]:not(.browser-default):focus:not([readonly]) + label,
input[type="number"]:not(.browser-default):focus:not([readonly]) + label,
input[type="search"]:not(.browser-default):focus:not([readonly]) + label,
textarea.materialize-textarea:focus:not([readonly]) + label {
  color: $Blue;
}

[type="radio"]:checked + span::after,
[type="radio"].with-gap:checked + span::before,
[type="radio"].with-gap:checked + span::after {
  border: 2px solid $Blue;
}

[type="radio"]:checked + span::after,
[type="radio"].with-gap:checked + span::after {
  background: $Blue;
}

html,
body {
  height: 100%;
}
body {
  font-size: 14px;
  // color: #333;
  margin: 0;
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // font-family: Arial, Helvetica, sans-serif;
}

// .html2canvas-container {
//   width: 1208 !important;
//   height: 3000px !important;
// }

.chip {
  color: white;
  background-color: $Red;
  font-weight: 100;
}

.btn,
.btn-small,
.btn-large {
  background: $Blue;
  color: white;

  &:hover {
    background: $Red;
  }
  &:focus {
    background: $Blue;
  }
}

.dropdown-content li > a,
.dropdown-content li > span {
  color: $Blue;
}

.fc .fc-col-header-cell-cushion {
  color: #333;
}
.fc-toolbar-title {
  color: #333;
}

.custon-snackbar {
  background: white;
  color: #333;
}

.fc .fc-daygrid-day-number {
  color: #333;
}

.fc-event-time,
.fc-event-title {
  // background: $Red;
  color: $Blue;
}

.table-text {
  font-size: 12px;
  padding-left:.6rem !important;
  // border: 2px solid red;
}

.rating {
  text-align: center !important;
}

td,p{
  text-overflow: "-" !important;
  word-wrap: break-word;
  white-space:pre-wrap;
}

.mat-elevation-z4{
  box-shadow: 0 4px 8px 0px rgba(128, 128, 128, 0.37);
}

.footer{
  width: 100%;
  height: 3vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
