<h3 mat-dialog-title>{{data.behaviour_competencies||data.key_performance_areas}}</h3>

<div  class="edit">
        <div class="row">
            <div class="input-field col s12">
                <label class="active">Incumbent Self-Appraisal Rating</label>
                <select required 
                [(ngModel)]="rating">
                    <!-- <option value="" selected disabled>Current Option {{data.supervisor_rating}}</option> -->
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
        </div>
</div>
<div mat-dialog-actions class="action">
    <button [disabled]="rating===''" (click)="submitBC()" class="waves-effect waves-light btn-small">save</button>
    <button mat-dialog-close class="waves-effect waves-light btn-small">close</button>
</div>