<div class="outer">
  <div class="left">
    <div class="left-in">
      <h1>NUST Performance Management System</h1>
      <div matTooltip="Open Performance Management Video" class="play-video" (click)="showVideo()">
        <mat-icon fontSet="material-icons-round">
          play_arrow
        </mat-icon>
      </div>
    </div>
  </div>
  <div class="right">
    <h1 class="name">NUST Performance Management System</h1>
    <router-outlet></router-outlet>
  </div>
</div>

<div class="video">
  <youtube-player id="youtube" videoId="Lx8ObCG7MdE"></youtube-player>
  <div class="close" (click)="showVideo()" matTooltip="close the video">
    <mat-icon>close</mat-icon>
  </div>
</div>

<div class="help-button pulse" routerLink="/instructions" matRipple matTooltip="Help? click to reaad on instructions">
  <!-- <button>Help ?</button> -->
  <mat-icon>help_outline</mat-icon>
</div>
