$Blue: rgb(27, 44, 93);
$Yellow: rgb(252, 175, 40);
$Red: #da2128;

.outer {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;

  .left,
  .right {
    width: 50%;
    min-height: inherit;
    overflow-x: hidden;
    .name {
      display: none;
      position: relative;
      top: 3vh;
      left: 5%;
    }
    // border: 2px solid;
  }

  .left {
    height: 100vh;
    background: url("../../assets/nustpic2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .left-in {
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 37, 105, 0.945), rgba(0, 37, 105, 0.534));
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #ffffff;

      .play-video {
        // padding: 1%;
        margin-top: 5%;
        background: $Yellow;
        position: relative;
        width: 80px;
        height: 80px;
        border: 1px solid $Yellow;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;

        mat-icon {
          // display: none;
          font-size: 60px;
          width: fit-content;
          height: fit-content;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.4s ease-out 0s;
          cursor: pointer;

          // &:hover{
          //   transform: scale(1.04);
          // }
        }

        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 100%;
          border: 2px solid $Red;
          border-radius: 50%;
          position: absolute;
          top: 0;
          left: 0;
          animation: playAnim 2s linear 0s infinite;
        }

        @keyframes playAnim {
          0% {
            transform: scale(1.1);
            opacity: 0.5;
          }
          50% {
            transform: scale(1.4);
            opacity: 1;
          }
          100% {
            transform: scale(0.5);
            opacity: 0;
            color: $Blue;
          }
        }
      }
    }
  }
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $Blue;
  z-index: 20;
  clip-path: circle(0% at 50% 50%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.7s ease 0s;

  .close {
    padding: 1%;
    display: flex;
    background: $Yellow;
    color: white;
    position: absolute;
    top: 3%;
    right: 3%;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &.active {
    clip-path: circle(70.7% at 50% 50%);
  }
}

.help-button {
  position: fixed;
  right: 1%;
  bottom: 2%;
  width: fit-content;
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $Blue;
  cursor: pointer;
  border-radius: 100%;
  color: #ffffff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.521);

  // button{
  //   border: none;
  //   border-radius: 50px;
  //   background: $Blue;
  //   height: 40px;
  //   width: 100px;
  //   color: white;
  //   width: fit-content;
  //   outline-offset: 2px;
  //   outline:1px solid $Yellow;
  //   transition:all .5s ease-out 0s;
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   &:hover{
  //     transform:scale(1.04);
  //   }
  // }
}

@media (max-width: 500px) {
  .outer {
    .left {
      display: none;
    }
    .right {
      width: 100%;
      .name {
        display: block;
      }
    }
  }

  .video {
    overflow: hidden;
  }
}
