.content {
    .activities {
        margin-bottom: 30px;
    }
}

h2{
    font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif !important;
}

h3 {
    width: fit-content;
    font: 400 16px/28px Roboto, "Helvetica Neue", sans-serif !important;

    &::after {
        margin: 2px auto;
        display: block;
        height: 2px;
        content: "";
        width: 100%;
        background: #d22730;
    }
}

h4{
    font: 400 15px/24px Roboto, "Helvetica Neue", sans-serif;
}

.top {
    width: 100%;
    display: flex;
    .user {
        width: 50%;
        padding: 3% 1%;

        .icon {
            font-size: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: fit-content;
            height: fit-content;
        }
    }

    .totalScore {
        width: 50%;
        display: flex;
        gap: 6%;
        height: fit-content;
        justify-content: flex-end;
        // align-items: center;

        .score {
            display: flex;
            align-items: center;
            flex-direction: column;
            .sc {
                width: 100px;
                height: 100px;
                // padding: 2%;
                font-size: 50px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .comment {
            .comment-top {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .comm {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                div {
                    font-size: 10px;
                    color: grey;
                    display: flex;
                    align-items: center;
                    gap: 2px;
                }
            }
        }
    }
}

.action {
    position: relative;
}

.print {
    position: absolute;
    // top: 1%;
    right: 2%;
    color: white;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    background: #002569;
    border-radius: 100%;
    border: none;
    cursor: pointer;
}
